extends ../components/base/layout

block variables
  - const title = "About us" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about-us.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  style.

  -
    const firstTextBlock = {
      img: 'ab-us-main-img',
      type: 'center-bg',
      title: 'О нас',
      text: ['Бутик Allegria специализируется на продаже комфортной и современной одежды для свободного времени в стиле кэжуал . Мы считаем, что одежда - это источник радости, что и отражено в названии нашего бутика.'],
    };

  -
    const thirdTextBlock = {
      type: 'regular-block-side',
      title: 'О нас',
      text: ['Броские сумки George Gina & Lucy поднимают настроение и своим обладательницам и окружающим.','Birkenstock – это обувь с мягкой ортопедической стелькой, позволяющая долгое время находиться в обуви не уставая.','Для всех представленных в бутике брендов важным приоритетом является экологическая безопасность одежды и производства.'],
    };

  -
    const fourthTextBlock = {
      type: 'regular-block',
      text: ['Для всех представленных в бутике брендов важным приоритетом является экологическая безопасность одежды и производства.'],
    };

  main
    +title-block(firstTextBlock)
    .about-us__block
      .container.container--small
        p.about-us__text American Vintage в первую очередь – это качественный трикотаж, изящная красота и летящий крой.
        .about-us__wrapper
          .about-us__big-img
            +picture("content", 'ab-us-img-1', "png", 410, 410, "banner")
          .about-us__small-img
            +picture("content", 'ab-us-img-2', "png", 280, 280, "banner")
        +text-block(thirdTextBlock)
        .about-us__wrapper
          .about-us__small-img
            +picture("content", 'ab-us-img-3', "png", 280, 280, "banner")
          .about-us__big-img
            +picture("content", 'ab-us-img-4', "png", 410, 410, "banner").about-us__big-img
      .about-us__color-block
        p.about-us__text Для всех представленных в бутике брендов важным приоритетом является экологическая безопасность одежды и производства.




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="feedback")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-return()
