extends ../components/base/layout

block variables
  - const title = "About us" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "about-us.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main

  -
    const firstTextBlock = {
      img: 'ab-us-main-img',
      type: 'center-bg',
      title: 'About Us',
      text: ['Allegria boutique specializes in selling comfortable and modern clothes for free time in casual style. We believe that clothes are a source of joy, which is reflected in the name of our boutique.'],
    };

  -
    const thirdTextBlock = {
      type: 'regular-block-side',
      title: 'About Us',
      text: ['George Gina & Lucys eye-catching bags lift the spirits of their owners and others.','Birkenstock is shoes with a soft orthopedic insole that allows you to stay in the shoes for a long time without getting tired.','For all the brands represented in the boutique an important priority is the environmental safety of clothing and production.'],
    };


  main
    +title-block(firstTextBlock)
    .about-us
      .container.container--small
        p.about-us__text American Vintage is first and foremost a quality knitwear, elegant beauty and flowing cut.
        .about-us__wrapper
          .about-us__big-img
            +picture("content", 'ab-us-img-1', "png", 410, 410, "banner")
          .about-us__small-img
            +picture("content", 'ab-us-img-2', "png", 280, 280, "banner")
        +text-block(thirdTextBlock)
        .about-us__wrapper
          .about-us__small-img
            +picture("content", 'ab-us-img-3', "png", 280, 280, "banner")
          .about-us__big-img
            +picture("content", 'ab-us-img-4', "png", 410, 410, "banner").about-us__big-img
      .about-us__color-block
        p.about-us__text For all brands represented in the boutique, an important priority is the environmental safety of clothing and production.




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
