extends ../components/base/layout

block variables
  - const title = "Brands" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "brands.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main



  -
    const firstBgBlock = {
      img: 'brand-bg-img-1',
      title: 'american vintage',
      brand: 'Бренд',
      text: ['American Vintage - модная торговая марка по производству трикотажной одежды для мужчин и женщин. '],
    };

  -
    const secondBgBlock = {
      img: 'brand-bg-img-2',
      title: 'Deha',
      brand: 'Бренд',
      text: ['Бренд DEHA принадлежит компании Meeting Group SpA, которая является лидером на итальянском рынке спортивной одежды премиум-класса. '],
    };

  -
    const thirdBgBlock = {
      img: 'brand-bg-img-3',
    };

  -
    const fourthBgBlock = {
      img: 'brand-bg-img-4',
      title: 'BIRKENSTOCK',
      brand: 'Бренд',
      text: ['BIRKENSTOCK — известная немецкая компания, занимающаяся производством ортопедической обуви.'],
    };




  -
    const firstTextBlock = {
      img: 'brand-img-2',
      title: 'American vintage',
      text: ['Продукция также включает немногочисленные аксессуары в виде шарфов, ремней, шапок, а также женских сумок','Несмотря на название «American Vintage», бренд создан французом Мишель Азулэ.','Отличие бренда от других - это простота в исполнении изделий (минимализм) и  100% натуральные ткани. бренд сочетает в себе расслабленность южной Франции и простоту Америки.'],
    };

  -
    const secondTextBlock = {
      img: 'brand-img-3',
      title: 'deha',
      text: ['Требование и суть коллекций DEHA-это  чувство женственности ,  не показной, но подходящей  всем женщинам, которые являются женами, матерями, профессионалами, сексуальными, спортивными и веселыми одновременно.', 'Коллекции DEHA идеально подходят для ежедневных тренировок, но Deha – больше, чем одежда для спорта, это удобная и естественная женственность на каждый день.Это яркие струящиеся ткани, легкость и удобство.'],
    };

  -
    const thirdTextBlock = {
      img: 'brand-img-1',
      title: 'george gina & lucy',
      text: ['Популярность и любовь дизайнеры заслужили тем, что соединили в своих творениях оригинальность, индивидуальность и легкий юмор, что вызвало у них появление огромного количества поклонниц во всем мире.', 'Каждая сумка этого уникального бренда неповторима и индивидуальна, а их отличие от других брендовых сумок в том, что они имеют преувеличенно крупную фурнитуру – кольца, карабины и молнии.','Такие сумки созданы специально для тех , кто любит  индивидуальность и неповторимость.'],
    };

  -
    const fourthTextBlock = {
      img: 'brand-img-4',
      title: 'birkenstock',
      text: ['Свою славу она заслужила благодаря удобству, экологичности материалов и поддержанию здоровья ног. Знаменитая мягкая ортопедическая стелька фирмы BIRKENSTOCK позволяет долгое время находиться в обуви не уставая.','В 1990 году пара сандалий BIRKENSTOCK Аризона в США была признана самой экологичной.','В 2004 году BIRKENSTOCK были удостоены звания «лучший дизайн, проверенный годами и подходящий всем».'],
    };




  main
    +title-block(firstBgBlock)
    .brands-content-block
      .container.container--medium
        .brands-content-wrapper
          .brands-text-block__img.brands-text-block__img--left
            +picture("content", firstTextBlock.img, "png", 261, 350, "photo")
          +text-block(firstTextBlock)
    +title-block(secondBgBlock)
    .brands-content-block
      .container.container--medium
        .brands-content-wrapper
          +text-block(secondTextBlock)
          .brands-text-block__img.brands-text-block__img--right
            +picture("content", secondTextBlock.img, "png", 261, 350, "photo")
    +title-block(thirdBgBlock)
    .brands-content-block
      .container.container--medium
        .brands-content-wrapper
          .brands-text-block__img.brands-text-block__img--left
            +picture("content", thirdTextBlock.img, "png", 261, 350, "photo")
          +text-block(thirdTextBlock)
    +title-block(fourthBgBlock)
    .brands-content-block
      .container.container--medium
        .brands-content-wrapper
          +text-block(fourthTextBlock)
          .brands-text-block__img.brands-text-block__img--right
            +picture("content", fourthTextBlock.img, "png", 261, 350, "photo")


block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="feedback")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-return()
