extends ../components/base/layout

block variables
  - const title = "Brands" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "brands.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main



  -
    const firstBgBlock = {
      img: 'brand-bg-img-1',
      title: 'american vintage',
      brand: 'Brand',
      text: ['American Vintage is a fashionable knitwear brand for men and women.'],
    };

  -
    const secondBgBlock = {
      img: 'brand-bg-img-2',
      title: 'Deha',
      brand: 'Brand',
      text: ['DEHA brand belongs to Meeting Group SpA, which is a leader in the Italian market of premium sportswear.'],
    };

  -
    const thirdBgBlock = {
      img: 'brand-bg-img-3',
    };

  -
    const fourthBgBlock = {
      img: 'brand-bg-img-4',
      title: 'BIRKENSTOCK',
      brand: 'Brand',
      text: ['BIRKENSTOCK is a well-known German company engaged in the production of orthopedic shoes.'],
    };




  -
    const firstTextBlock = {
      img: 'brand-img-2',
      title: 'American vintage',
      text: ['Products also include a few accessories in the form of scarves, belts, hats, and handbags for women.','Despite the name American Vintage, the brand was created by Frenchman Michel Azoulay.','The difference between the brand and others is the simplicity in the execution of products (minimalism) and 100% natural fabrics. the brand combines the relaxation of southern France and the simplicity of America.'],
    };

  -
    const secondTextBlock = {
      img: 'brand-img-3',
      title: 'deha',
      text: ['The demand and the essence of DEHA collections is a sense of femininity, not ostentatious, but suitable for all women who are wives, mothers, professionals, sexy, sporty and fun at the same time.', 'DEHA collections are ideal for everyday workouts, but Deha is more than clothing for sports, it is comfortable and natural femininity for every day. It is a bright flowing fabric, lightness and comfort.'],
    };

  -
    const thirdTextBlock = {
      img: 'brand-img-1',
      title: 'george gina & lucy',
      text: ['Their popularity and love is due to the fact that they have combined originality, individuality and light humor in their creations, which has given them a huge number of fans around the world.', 'Each bag of this unique brand is unique and individual, and their difference from other brand bags is that they have exaggeratedly large accessories - rings, carabiners and zippers.', 'Such bags are created especially for those who love individuality and uniqueness.'],
    };

  -
    const fourthTextBlock = {
      img: 'brand-img-4',
      title: 'birkenstock',
      text: ['It earned its fame because of its comfort, environmentally friendly materials and support for healthy feet. BIRKENSTOCKs famous soft orthopedic footbed allows you to stay in the shoes for a long time without getting tired.','In 1990, a pair of BIRKENSTOCK Arizona sandals in the USA was voted the most environmentally friendly.','In 2004, BIRKENSTOCK were awarded the title best design, tested by years and suitable for everyone.'],
    };




  main
    +title-block(firstBgBlock)
    .brands-content
      .container.container--medium
        .brands-content__wrapper
          .brands-content__img.brands-content__img--left.animate__animated.wow.animate__fadeInLeft( data-wow-duration='1.5s')
            +picture("content", firstTextBlock.img, "png", 261, 350, "photo")
          +text-block(firstTextBlock)(class='animate__animated wow animate__fadeInRight' data-wow-duration='1.5s')
    +title-block(secondBgBlock)
    .brands-content
      .container.container--medium
        .brands-content__wrapper
          +text-block(secondTextBlock)(class='animate__animated wow animate__fadeInLeft' data-wow-duration='1.5s')
          .brands-content__img.brands-content__img--right.animate__animated.wow.animate__fadeInRight( data-wow-duration='1.5s')
            +picture("content", secondTextBlock.img, "png", 261, 350, "photo")
    +title-block(thirdBgBlock)
    .brands-content
      .container.container--medium
        .brands-content__wrapper
          .brands-content__img.brands-content__img--left.animate__animated.wow.animate__fadeInLeft( data-wow-duration='1.5s')
            +picture("content", thirdTextBlock.img, "png", 261, 350, "photo")
          +text-block(thirdTextBlock)(class='animate__animated wow animate__fadeInRight' data-wow-duration='1.5s')
    +title-block(fourthBgBlock)
    .brands-content
      .container.container--medium
        .brands-content__wrapper
          +text-block(fourthTextBlock)(class='animate__animated wow animate__fadeInLeft' data-wow-duration='1.5s')
          .brands-content__img.brands-content__img--right.animate__animated.wow.animate__fadeInRight( data-wow-duration='1.5s')
            +picture("content", fourthTextBlock.img, "png", 261, 350, "photo")


block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
