extends ../components/base/layout

block variables
  - const title = "Brands" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "brands.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  style.



  -
    const firstBgBlock = {
      img: 'brand-bg-img-1',
      type: 'center-bg',
      title: 'american vintage',
      brand: 'Бренд',
      text: 'American Vintage - модная торговая марка по производству трикотажной одежды для мужчин и женщин. ',
    };

  -
    const secondBgBlock = {
      img: 'brand-bg-img-2',
      type: 'center-bg',
      title: 'Deha',
      brand: 'Бренд',
      text: 'Бренд DEHA принадлежит компании Meeting Group SpA, которая является лидером на итальянском рынке спортивной одежды премиум-класса. ',
    };

  -
    const thirdBgBlock = {
      img: 'brand-bg-img-3',
    };

  -
    const fourthBgBlock = {
      img: 'brand-bg-img-4',
      type: 'center-bg',
      title: 'BIRKENSTOCK',
      brand: 'Бренд',
      text: 'BIRKENSTOCK — известная немецкая компания, занимающаяся производством ортопедической обуви.',
    };




  -
    const firstTextBlock = {
      img: 'brand-img-2',
      type: 'regular-block-side',
      title: 'george gina & lucy',
      text: ['Популярность и любовь дизайнеры заслужили тем, что соединили в своих творениях оригинальность, индивидуальность и легкий юмор, что вызвало у них появление огромного количества поклонниц во всем мире. Каждая сумка этого уникального бренда неповторима и индивидуальна, а их отличие от других брендовых сумок в том, что они имеют преувеличенно крупную фурнитуру – кольца, карабины и молнии. Такие сумки созданы специально для тех , кто любит  индивидуальность и неповторимость.'],
    };

  -
    const secondTextBlock = {
      img: 'brand-img-3',
      type: 'regular-block',
      title: 'george gina & lucy',
      text: ['Популярность и любовь дизайнеры заслужили тем, что соединили в своих творениях оригинальность, индивидуальность и легкий юмор, что вызвало у них появление огромного количества поклонниц во всем мире. Каждая сумка этого уникального бренда неповторима и индивидуальна, а их отличие от других брендовых сумок в том, что они имеют преувеличенно крупную фурнитуру – кольца, карабины и молнии. Такие сумки созданы специально для тех , кто любит  индивидуальность и неповторимость.'],
    };

  -
    const thirdTextBlock = {
      img: 'brand-img-1',
      type: 'regular-block-side',
      title: 'george gina & lucy',
      text: ['Популярность и любовь дизайнеры заслужили тем, что соединили в своих творениях оригинальность, индивидуальность и легкий юмор, что вызвало у них появление огромного количества поклонниц во всем мире. Каждая сумка этого уникального бренда неповторима и индивидуальна, а их отличие от других брендовых сумок в том, что они имеют преувеличенно крупную фурнитуру – кольца, карабины и молнии. Такие сумки созданы специально для тех , кто любит  индивидуальность и неповторимость.'],
    };

  -
    const fourthTextBlock = {
      img: 'brand-img-4',
      type: 'regular-block',
      title: 'george gina & lucy',
      text: ['Популярность и любовь дизайнеры заслужили тем, что соединили в своих творениях оригинальность, индивидуальность и легкий юмор, что вызвало у них появление огромного количества поклонниц во всем мире. Каждая сумка этого уникального бренда неповторима и индивидуальна, а их отличие от других брендовых сумок в том, что они имеют преувеличенно крупную фурнитуру – кольца, карабины и молнии. Такие сумки созданы специально для тех , кто любит  индивидуальность и неповторимость.'],
    };

  -
    const blackTextBlock = {
      type: 'center-black',
      title: 'george gina & lucy',
      brand: 'Бренд',
      text: 'Бренд основан в 2004 году недалеко от Франкфурта, когда супруги Николь Бейли и Николас Нойхаус вместе с Оливером Брюном выпустили свою первую и очень удачную коллекцию сумок, каждая из которых имела свое имя. ',
    };



  main
    +bg-img-text-block(firstBgBlock)
    +brands-text-block(firstTextBlock, true)
    +bg-img-text-block(secondBgBlock)
    +brands-text-block(secondTextBlock)
    +sub-text-block(blackTextBlock)
    +bg-img-text-block(thirdBgBlock)
    +brands-text-block(thirdTextBlock, true)
    +bg-img-text-block(fourthBgBlock)
    +brands-text-block(fourthTextBlock)


block modals
