extends ../components/base/layout

block variables
  - const title = "Card-page" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "card-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  -
    const firstClothesSliderCards = {
      first:{
        img: 'clothes-1',
        fav: true,
        name: 'fav-but-1',
        id: 'fav-but-1',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      second:{
        img: 'clothes-2',
        fav: true,
        name: 'fav-but-2',
        id: 'fav-but-2',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      third:{
        img: 'clothes-3',
        fav: true,
        name: 'fav-but-3',
        id: 'fav-but-3',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      fourth:{
        img: 'clothes-4',
        fav: true,
        name: 'fav-but-4',
        id: 'fav-but-4',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      fivth:{
        img: 'clothes-1',
        fav: true,
        name: 'fav-but-5',
        id: 'fav-but-5',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      sixth:{
        img: 'clothes-2',
        fav: true,
        name: 'fav-but-6',
        id: 'fav-but-6',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      seventh:{
        img: 'clothes-3',
        fav: true,
        name: 'fav-but-7',
        id: 'fav-but-7',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      eigth:{
        img: 'clothes-4',
        fav: true,
        name: 'fav-but-8',
        id: 'fav-but-8',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },

    };

  -
    const clothesSliderTitle = 'Popular'

  main
    .card-page
      .container.container--medium
        .card-page__wrapper
          .card-page__top-block
            .card-page__left-column
              .card-slider-mini.swiper
                .card-slider-mini__wrapper.swiper-wrapper
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
              .card-slider.swiper
                .card-slider__wrapper.swiper-wrapper
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                .fav-button__block
                  +fav-button({name: "fav-button", checked: false, id: "fav-button"})
            .card-page__right-column
              +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'American Vintage', titleColor: 'blue-whale'})
              p.card-page__category Classic shirt
              p.card-page__price 3800 UAH
              p.card-page__sub-title Sizes
              .mini-content-block
                +base-radio({name: "input-radio-size"}, {value: "XS", id: "size-radio-xs"})
                +base-radio({name: "input-radio-size"}, {value: "S", id: "size-radio-s"})
                +base-radio({name: "input-radio-size"}, {value: "M", id: "size-radio-m"})
                +base-radio({name: "input-radio-size"}, {value: "L", id: "size-radio-l"})
                +base-radio({name: "input-radio-size"}, {value: "XL", id: "size-radio-xl"})
              .card-page__size-chart
                a(href="#" data-open-modal="modal-size-chart") Size chart
              .card-page__sub-title Colors
              .mini-content-block
                +color-button({name: "color-button", color: '--color-white', checked: "true", id: "color-button-white"})
                +color-button({name: "color-button", color: '--color-red', checked: "true", id: "color-button-red"})
                +color-button({name: "color-button", color: '--color-blue', checked: "true", id: "color-button-blue"})
                +color-button({name: "color-button", color: '--color-black', checked: "true", id: "color-button-black"})
              .card-page__buttons
                +btn({text: "Add to cart", type: "submit"}).btn--transparent
                +btn({text: "Buy in one click", type: "submit"})
              .card-page__delivery
                p Deliver tomorrow or later
                .card-page__delivery-block
                  +icon('icon-car', 50, 30)
                  p To the points of delivery - free of charge for the purchase of 5000 UAH or more
                .card-page__delivery-block
                  +icon('icon-box', 50, 30)
                  p To the address by courier - free of charge for purchases from 10000 UAH
          .card-page__bottom-block
            .card-page__tab-titles
              a(href="#tab-about").tab-item.is-active About
              a(href="#tab-review").tab-item Review
              a(href="#tab-qa").tab-item Questions
            .card-page__tab-content
              div(id = 'tab-about').card-page__tab.is-active
                .card-page__tab-about
                  .card-page__tab-about-left
                    p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                    p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                    p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                  .card-page__tab-about-right
                    +picture("content", 'card-page-img', "png", 229, 278, "card")
              div(id = 'tab-review').card-page__tab
                .card-page__tab-review
                  .card-page__review
                    +icon("star-rating", 200, 100).card-page__review-svg
                    .card-page__review-text-block
                      +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Jess', titleColor: 'blue-whale'})
                      p I must admit that I had pretty low expectations for this dress given the price point. Also, most tiered sundresses that I’ve tried have been too voluminous and just aren’t flattering on my straight figure. This dress exceeded my expectations. The material has a crinkle texture and is soft.
                  .card-page__review
                    +icon("star-rating", 200, 100).card-page__review-svg
                    .card-page__review-text-block
                      +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Mike', titleColor: 'blue-whale'})
                      p I must admit that I had pretty low expectations for this dress given the price point. Also, most tiered sundresses that I’ve tried have been too voluminous and just aren’t flattering on my straight figure. This dress exceeded my expectations. The material has a crinkle texture and is soft.
              div(id = 'tab-qa').card-page__tab
                .card-page__tab-qa
                  .card-page__qa
                    +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Jess', titleColor: 'blue-whale'})
                    +title({titleStyle: 'Inter', titleType: 'h4', titleText: 'Would you be so kind as to tell me, please, is a drawing that glows in the dark not harmful to the body?', titleColor: 'blue-whale'})
                    p Good afternoon. The paint is completely harmless to human health, as evidenced by the quality certificate on each T-shirt.
                  .card-page__qa
                    +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Mike', titleColor: 'blue-whale'})
                    +title({titleStyle: 'Inter', titleType: 'h4', titleText: 'Good afternoon.I wear a size 46.What size should I order? I do not want to make a mistake?', titleColor: 'blue-whale'})
                    p Good afternoon. When choosing a size, we recommend using the size chart with the parameters of length and width of the T-shirts.
          +clothes-slider(firstClothesSliderCards, clothesSliderTitle)




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-size-chart")
    +modal-size-chart()
