extends ../components/base/layout

block variables
  - const title = "Card-page" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "card-page.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  main
    .card-page
      .container.container--medium
        .card-page__wrapper
          .card-page__top-block
            .card-page__left-column
              .card-slider-mini.swiper
                .card-slider-mini__wrapper.swiper-wrapper
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
                  .card-slider-mini__slide.swiper-slide
                    +picture("content", 'clothes-small', "png", 85, 131, "card")
              .card-slider.swiper
                .card-slider__wrapper.swiper-wrapper
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                  .card-slider__slide.swiper-slide
                    +picture("content", 'clothes-big', "png", 470, 678, "card")
                .fav-button__block
                  +fav-button({name: "fav-button", checked: false, id: "fav-button"})
            .card-page__right-column
              +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'American Vintage', titleColor: 'blue-whale'})
              p.card-page__category Classic shirt
              p.card-page__price 3800 UAH
              p.card-page__sub-title Sizes
              .mini-content-block
                +base-radio({name: "input-radio-size"}, {value: "XS", id: "size-radio-xs"})
                +base-radio({name: "input-radio-size"}, {value: "S", id: "size-radio-s"})
                +base-radio({name: "input-radio-size"}, {value: "M", id: "size-radio-m"})
                +base-radio({name: "input-radio-size"}, {value: "L", id: "size-radio-l"})
                +base-radio({name: "input-radio-size"}, {value: "XL", id: "size-radio-xl"})
              .card-page__size-chart
                a(href="#" data-open-modal="modal-size-chart") Size chart
              .card-page__sub-title Colors
              .mini-content-block
                +color-button({name: "color-button", color: '--color-white', checked: "true", id: "color-button-white"})
                +color-button({name: "color-button", color: '--color-red', checked: "true", id: "color-button-red"})
                +color-button({name: "color-button", color: '--color-blue', checked: "true", id: "color-button-blue"})
                +color-button({name: "color-button", color: '--color-black', checked: "true", id: "color-button-black"})
              .card-page__buttons
                +btn({text: "Add to cart", type: "submit"}).btn--transparent
                +btn({text: "Buy in one click", type: "submit"})
              .card-page__delivery
                p Deliver tomorrow or later
                .card-page__delivery-block
                  +icon('icon-car', 50, 30)
                  p To the points of delivery - free of charge for the purchase of 5000 UAH or more
                .card-page__delivery-block
                  +icon('icon-box', 50, 30)
                  p To the address by courier - free of charge for purchases from 10000 UAH
          .card-page__bottom-block
            .card-page__tab-titles
              a(href="#").tab-item.is-active About
              a(href="#").tab-item Review
              a(href="#").tab-item Questions
            .card-page__tab-content
              .card-page__tab-about.is-hidden
                .card-page__tab-about-left
                  p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                  p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                  p Denim top shirt, stand-up collar, oversize silhouette. Made of 100% cotton denim with fade effect. Topical cut allows you to wear shirt as a second layer on top of a T-shirt. Topical cut allows you to wear shirt as a second layer on top of a T-shirt.
                .card-page__tab-about-right
                  +picture("content", 'card-page-img', "png", 229, 278, "card")
              .card-page__tab-review
                +title({titleStyle: 'Inter', titleType: 'h3', titleText: '5/5', titleColor: 'blue-whale'})







block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-size-chart")
    +modal-size-chart()
