extends ../components/base/layout

block variables
  - const title = "Cart" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "cart.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  -
    const firstClothesSliderCards = {
      first:{
        img: 'clothes-1',
        name: 'fav-but-1',
        id: 'fav-but-1',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
        counter: true
      },
      second:{
        img: 'clothes-2',
        name: 'fav-but-2',
        id: 'fav-but-2',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
        counter: true
      },
    }

  main
    .cart
      +empty-page('Your cart is empty')
      form
        .container.container--medium
          .cart__wrapper(data-card="wrapper")
            .cart__left-column
              +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Name"})(data-validate-type="text", data-limitations="name")
              +custom-input({inputName: "user-surename", inputMinLength: "2" , inputPlaceholder: "Surename"})(data-limitations="name")
              +custom-input({inputType: "email", inputError: "Invalid email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
              +custom-input({inputType: "tel", inputPlaceholder: "Phone number", inputName: "user-tel"})
              p.cart__sub-title Delivery
              p.cart__adress Odessa, Branch #1: Kievskoe Shosse (early Leningradskoe Shosse), 27 Branch "Novaia Pochta
              a(href="profile.html").cart__change-adress Change adress
              p.cart__sub-title Payment method
              +custom-toggle({inputType: 'radio', inputLabel: "Card online", inputName: "payment-type", inputId: 'pay-card'}).custom-toggle--radio.custom-toggle__cart
              +custom-toggle({inputType: 'radio', inputLabel: "Upon receipt of order", inputName: "payment-type", inputId: 'pay-order'}).custom-toggle--radio.custom-toggle__cart
              .cart__submitt-button
                +btn({text: "Order", href: "reciept.html"}).btn__order.is-disabled
            .cart__right-column
              .cart__cards-block(data-card="container")
                +item-card(firstClothesSliderCards.first, 'mini')
              .cart__total-price
                p.cart__total-price-p TOTAL: 3800 UAH

block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
