extends ../components/base/layout

block variables
  - const title = "Catalog" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "catalog.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  -
    const cards = {
      first:{
        img: 'clothes-1',
        fav: true,
        name: 'fav-but-1',
        id: 'fav-but-1',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      second:{
        img: 'clothes-2',
        fav: true,
        name: 'fav-but-2',
        id: 'fav-but-2',
        title: 'Replay',
        type: 'Classic shoes',
        price: '3800 UAH',
      },
      third:{
        img: 'clothes-3',
        fav: true,
        name: 'fav-but-3',
        id: 'fav-but-3',
        title: 'Replay',
        type: 'Classic shoes',
        price: '3800 UAH',
      },
      fourth:{
        img: 'clothes-4',
        fav: true,
        name: 'fav-but-4',
        id: 'fav-but-4',
        title: 'Replay',
        type: 'Classic shoes',
        price: '3800 UAH',
      },
      fivth:{
        img: 'clothes-1',
        fav: true,
        name: 'fav-but-5',
        id: 'fav-but-5',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      sixth:{
        img: 'clothes-2',
        fav: true,
        name: 'fav-but-6',
        id: 'fav-but-6',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      seventh:{
        img: 'clothes-3',
        fav: true,
        name: 'fav-but-7',
        id: 'fav-but-7',
        title: 'Replay',
        type: 'Classic shoes',
        price: '3800 UAH',
      },
      eigth:{
        img: 'clothes-4',
        fav: true,
        name: 'fav-but-8',
        id: 'fav-but-8',
        title: 'Replay',
        type: 'Classic shoes',
        price: '3800 UAH',
      },
      ninth:{
        img: 'clothes-1',
        fav: true,
        name: 'fav-but-9',
        id: 'fav-but-9',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },

    };

  main
    .catalog
      .container.container--small
        .catalog__wrapper
          +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Jackets', titleColor: 'blue-whale'})
          .catalog__filters
            +custom-select({placeholder: "Size", error: "Select the subject of the address", selectPlaceholder: 'true', optionsList: [{text: "XS", value: "id-1"}, {text: "S", value: "id-2"}, {text: "M", value: "id-3"}, {text: "L", value: "id-4"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select
            +custom-select({placeholder: "Price",error: "Select the subject of the address", selectPlaceholder: 'true', optionsList: [{text: "1000-2000", value: "id-1"}, {text: "2000-3000", value: "id-2"}, {text: "3000-4000", value: "id-3"}, {text: "4000-5000", value: "id-4"}, {text: "5000-10000", value: "id-5"}, {text: "10000+", value: "id-6"},]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select
            +custom-select({placeholder: "Color",error: "Select the subject of the address", selectPlaceholder: 'true', optionsList: [{text: "White", value: "id-1"}, {text: "Black", value: "id-2"}, {text: "Red", value: "id-3"}, {text: "Blue", value: "id-4"}, {text: "Green", value: "id-5"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select
            +custom-select({placeholder: "Brand",error: "Select the subject of the address", selectPlaceholder: 'true', optionsList: [{text: "American Vintage", value: "id-1"}, {text: "George Gina Lucy", value: "id-2"}, {text: "Birkenstock", value: "id-3"}, {text: "Deha", value: "id-4"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select

          .catalog__catalog-block
            each item in cards
              .catalog__catalog-card
                +item-card(item)
          .catalog__button
            +btn({text: "Show more", type: "submit"})




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
