extends ../components/base/layout

block variables
  - const title = "Faq" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "faq.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const firstQuestionBlock = {
      first: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      second: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      third: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      fourth: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      fivth: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
    }

  -
    const secondQuestionBlock = {
      first: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      second: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
      third: {
      question: 'Question from a customer',
      answer: 'Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. By choosing this method of payment, you get the opportunity to examine and try on the ordered goods. If any item does not fit you, you can simply return it to the courier without paying.',
      },
    }


block main

  main
    .faq
      .container.container--small
        .faq__title
          +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'popular questions', titleColor: 'blue-whale'})
        .faq__wrapper
          .faq__column
            .faq__accordion
              .faq__accordion-block-title
                +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Purchases', titleColor: 'blue-whale'})
              each item in firstQuestionBlock
                .faq-accordion-item(data-accordion="parent")
                  .faq-accordion-item__question(data-accordion="button")
                    +title({titleStyle: 'Inter', titleType: 'h4', titleText: item.question, titleColor: 'blue-whale'})
                  .faq-accordion-item__answer(data-accordion="content")= item.answer
              .faq__accordion-block-title
                +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Returns & Exchanges', titleColor: 'blue-whale'})
              each item in secondQuestionBlock
                .faq-accordion-item(data-accordion="parent")
                  .faq-accordion-item__question(data-accordion="button")
                    +title({titleStyle: 'Inter', titleType: 'h4', titleText: item.question, titleColor: 'blue-whale'})
                  .faq-accordion-item__answer(data-accordion="content")= item.answer
          .faq__column
            div(data-validate).faq__feedback-block
              form(method="post")
                .faq__feedback__wrapper
                  .faq__feedback__text.faq__feedback__text--title
                    +title({titleStyle: 'Inter', titleType: 'h4', titleText: 'Any questions or suggestions? Email us', titleColor: 'blue-whale'})
                  +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Name"})(data-validate-type="text", data-limitations="name")
                  +custom-input({inputType: "email", inputError: "Invalid email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
                  .faq__feedback__text.faq__feedback__text--sub What do you want to know?
                  .faq__feedback-textarea
                    +custom-textarea({inputName: "user-info", inputPlaceholder: "Message text"})
                  +btn({text: "Send", type: "submit"})(class='btn--orange')



block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()



