extends ../components/base/layout

block variables
  - const title = "Faq" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "faq.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const questionBlock = {
      question: 'Вопрос от покупателя',
      answer: 'Оплата осуществляется наличными денежными средствами курьеру непосредственно при доставке заказа на адрес получателя. Выбрав данный способ оплаты, Вы получаете возможность рассмотреть и примерить заказанный товар. Если какая-то позиция Вам не подошла, Вы можете просто вернуть ее курьеру, не оплачивая.',
    }


block main

  main
    .faq__block
      .faq__container
        h2.faq__title Популярные вопросы
        .faq__wrapper
          .faq__column
            .faq__accordion
              p.faq__accordion-block-title Покупки
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
              p.faq__accordion-block-title Возврат и обмен
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
              +faq-accordion-item(questionBlock)
          .faq__column
            .faq__feedback-block
              .faq__feedback__wrapper
                form
                  .faq__feedback__text.faq__feedback__text--title Есть вопросы или предложения? НАПИШИТЕ НАМ
                  +custom-input({inputError: "Не корректное имя", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Имя"})(data-validate-type="text", data-limitations="name")
                  +custom-input({inputType: "email", inputError: "Не корректный email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
                  .faq__feedback__text.faq__feedback__text--sub Что Вас интересует:
                  +custom-textarea({inputName: "user-info", inputPlaceholder: "Текст сообщения"})
                  +btn({text: "Отправить", type: "submit"})(class='btn--orange')



block modals


