extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const banners ={
      first: {
        img: 'banner-1',
        type: 'center-bg',
        title: 'american vintage',
        brand: 'Бренд',
        collection: true,
      },
      second: {
        title: 'george gina lucy',
        img: 'banner-2',
        side:true,
      },
      third: {
        title: 'deha',
        img: 'banner-3',
        side: true,
      },
      fourth: {
        title: 'birkenstock',
        img: 'banner-4',
        side: true,
      },
    };

  -
    const fisrtTextBlock ={
      title: 'new arrival',
      text: ['Мы предлагаем покупателям более 300 брендов мужской, женской и детской одежды, обуви, аксессуаров, товаров для дома. Популярные скандинавские, новые российские бренды и эксклюзивные марки товаров для дома.'],
      collection: true,
      first: true,
    };

  -
    const secondTextBlock ={
      title: 'о нас',
      text: ['Мы не стоим на месте и сегодня делаем самые актуальные и трендовые коллекции c блогерами и лидерами мнений. Коллаборации с разными артистами стали одними из самых ярких и успешных. А еще работали вместе с известными музыкальными артистами, в ходе сотрудничества с которыми выпустили яркие линейки одежды.'],
    };

  -
    const firstClothesSliderCards = {
      first:{
        img: 'clothes-1',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      second:{
        img: 'clothes-2',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      third:{
        img: 'clothes-3',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
      fourth:{
        img: 'clothes-4',
        title: 'Replay',
        type: 'Classic shoes',
        oldPrice: '6100 UAH',
        price: '3800 UAH',
        discount: true,
      },
    };

block main
  main
    +main-slider(banners)
    +content-block(fisrtTextBlock, 'first')
    +clothes-slider(firstClothesSliderCards)
    +content-block(secondTextBlock, 'second')


block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="feedback")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-return()
