extends ../components/base/layout

block variables
  - const title = "ProjectName" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const banners ={
      first: {
        title: 'american vintage',
        img: 'banner-1',
      },
      second: {
        title: 'george gina lucy',
        img: 'banner-2',
        side:true,
      },
      third: {
        title: 'deha',
        img: 'banner-3',
        side: true,
      },
      fourth: {
        title: 'birkenstock',
        img: 'banner-4',
        side: true,
      },
    };

  -
    const fisrtTextBlock ={
      title: 'new arrival',
      text: 'Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ipLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipLorem ipsumLorem ip',
      collection: true,
      first: true,
    }

block main
  main
    +main-slider(banners)
    +main-page-content-block(fisrtTextBlock)


block modals
