extends ../components/base/layout

block variables
  - const title = "Sign-in-reg" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in-reg.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main


  main
    div(data-validate).sign-in
      form(method="post")
        .sign-in__wrapper
          .container.container--small
            .sign-in__block.sign-in__block--red-links
              .sign-in__title
                +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Регистрация', titleColor: 'blue-whale'})
              .sign-in__inputs-block
                +custom-input({inputError: "Не корректное имя", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Имя"})(data-validate-type="text", data-limitations="name")
                +custom-input({inputName: "user-surename", inputMinLength: "2" , inputPlaceholder: "Фамилия"})(data-limitations="name")
                +custom-input({inputType: "email", inputError: "Не корректный email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
                +custom-input({inputType: "tel", inputPlaceholder: "Номер телефона", inputName: "user-tel"})(data-validate-type="phone")
                +custom-input({inputType: "password", inputError: "Не корректный пароль", inputName: "user-password", inputPlaceholder: "Пароль", inputName: "user-password"})(data-validate-type="password")
                +custom-input({inputType: "password", inputError: "Не корректный пароль", inputName: "user-password", inputPlaceholder: "Повторите пароль", inputName: "user-password"})(data-validate-type="password")
              .sign-in__toggles-block
                +custom-toggle({inputLabel: "Подписаться на рассылку", inputError: "Согласие является обязательным", inputName: "user-agreement"}).custom-toggle--checkbox
                +custom-toggle({inputLabel: 'Я согласен c&nbsp;', labelLink: {text: 'политикой конфиденциальности', href: "#"}, inputError: "Согласие является обязательным", inputName: "user-agreement", inputChecked: true})(data-validate-type="checkbox").custom-toggle--checkbox
              .sign-in__button-block
                +btn({text: "Зарегистрироваться", type: "submit"})
                p.sign-in__text=  'У меня уже есть аккаунт - '
                  a(href="sign-in.html") войти




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
