extends ../components/base/layout

block variables
  - const title = "Sign-in-email" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in-email.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  main
    .sign-in-email
      .container.container--small
        .sign-in-email__block
          .sign-in-email__wrapper
            +picture("content", 'email-sent', "png", 124, 124, "mail")
            p.sign-in-email__text Ссылка для восстановления пароля отправлено на test@mail.com
            +btn({text: "На главную", href: "index.html"})(aria-label="Send email" class='btn--small')




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
