extends ../components/base/layout

block variables
  - const title = "Sign-in" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  main
    div(data-validate).sign-in
      form(method="post")
        .sign-in__wrapper
          .container.container--small
            .sign-in__block
              .sign-in__title
                +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Sign in', titleColor: 'blue-whale'})
              +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Name"})(data-validate-type="text", data-limitations="name")
              +custom-input({inputType: "password", inputError: "Invalid password", inputName: "user-password", inputPlaceholder: "Password", inputName: "user-password"})(data-validate-type="password")
              +btn({text: "Sign in", type: "submit"})
              .sign-in__text-block
                a(href="sign-in-fog-pass.html").sign-in__forgot-pass Forgot password
                span= ' / '
                a(href="sign-in-reg.html").sign-in__to-sign-up Don't have an account?




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
