extends ../components/base/layout

block variables
  - const title = "Sign-in" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  main
    div(data-validate).sign-in
      form(method="post")
        .sign-in__wrapper
          .container.container--small
            .sign-in__block
              .sign-in__title
                +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Вход', titleColor: 'blue-whale'})
              +custom-input({inputError: "Не корректное имя", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Имя"})(data-validate-type="text", data-limitations="name")
              +custom-input({inputType: "password", inputError: "Не корректный пароль", inputName: "user-password", inputPlaceholder: "Пароль", inputName: "user-password"})
              +btn({text: "Войти", type: "submit"})
              .sign-in__text-block
                a(href="forgot-pass.html").sign-in__forgot-pass Забыли пароль
                span= ' / '
                a(href="sign-up.html").sign-in__to-sign-up У меня нет акаунта




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="feedback")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-return()
