extends ../components/base/layout

block variables
  - const title = "Sign-in-fog-pass" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in-fog-pass.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main

  main
    div(data-validate).sign-in
      form(method="post")
        .sign-in__wrapper
          .container.container--small
            .sign-in__block
              .sign-in__title.sign-in__title--mw-340
                +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Восстановить пароль', titleColor: 'blue-whale'})
              +custom-input({inputType: "email", inputError: "Не корректный email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
              +btn({text: "Отправить", href: "sign-in-email.html"})(aria-label="Send email")




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="feedback")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-return()
