extends ../components/base/layout

block variables
  - const title = "Sign-in-reg" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "sign-in-reg.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks


block main


  main
    div(data-validate).sign-in
      form
        .sign-in__wrapper
          .container.container--small
            .sign-in__block.sign-in__block--red-links
              .sign-in__title
                +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Sign up', titleColor: 'blue-whale'})
              .sign-in__inputs-block
                +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2" , inputPlaceholder: "Name"})(data-validate-type="text", data-limitations="name")
                +custom-input({inputName: "user-surename", inputMinLength: "2" , inputPlaceholder: "Surename"})(data-limitations="name")
                +custom-input({inputType: "email", inputError: "Invalid email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email")
                +custom-input({inputType: "tel", inputPlaceholder: "Phone number", inputName: "user-tel"})
                +custom-input({inputType: "password", inputError: "Invalid password", inputName: "user-password", inputPlaceholder: "Password", inputName: "user-password"})
                +custom-input({inputType: "password", inputError: "Invalid password", inputName: "user-password", inputPlaceholder: "Repeat password", inputName: "user-password"})
              .sign-in__toggles-block
                +custom-toggle({inputLabel: "Subscribe to newsletter", inputError: "Confirm is mandatory", inputName: "user-agreement"}).custom-toggle--checkbox
                +custom-toggle({inputLabel: 'I agree to the&nbsp;', labelLink: {text: 'privacy policy', href: "#"}, inputError: "Confirm is mandatory", inputName: "user-agreement", inputChecked: true})(data-validate-type="checkbox").custom-toggle--checkbox
              .sign-in__button-block
                +btn({text: "Sign up", type: "submit"})
                p.sign-in__text=  'Already have an account? - '
                  a(href="sign-in.html") Sign in




block modals
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
