extends ../components/base/layout

block variables
  - const title = "Page list"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "Main page — index.html",
        src: "index.html"
      },
      {
        name: "About us — about-us.html",
        src: "about-us.html"
      },
      {
        name: "Brands — brands.html",
        src: "brands.html"
      },
      {
        name: "FAQ — faq.html",
        src: "faq.html"
      },
      {
        name: "Sign in — sign-in.html",
        src: "sign-in.html"
      },
      {
        name: "Sign up — sign-in-reg.html",
        src: "sign-in-reg.html"
      },
      {
        name: "Forgot password — sign-in-fog-pass.html",
        src: "sign-in-fog-pass.html"
      },
      {
        name: "Email sent — sign-in-email.html",
        src: "sign-in-email.html"
      },
      {
        name: "Card page — card-page.html",
        src: "card-page.html"
      },
      {
        name: "UI-KIT — ui-kit.html",
        src: "ui-kit.html"
      },
    ]

  main
    .container
      +icon("logo", 300, 100)
      h1 Page list
      ol
        each page in pages
          li
            a(href= page.src)= page.name
