extends ../components/base/layout

block variables
  - const title = "ui-kit" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "ui-kit.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  style.

    .main {
      font-family: 'Inter';
    }

    main > .container {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .components-backwards {
      color: #ffffff;
      display: inline-block;
    }

    .components-backwards span:first-child {
      position: relative;
      top: -3px;

      display: inline-block;
      margin-right: 15px;

      font-size: 16px;
      line-height: 24px;
      vertical-align: top;

      transform: scale(2);
    }

    .components-backwards span:last-child {
      font-size: 16px;
      line-height: 24px;
    }

    .components-backwards + h1 {
      margin-bottom: 0;
    }

    .container > section {
      padding: 70px 0 0 0;
    }

    section > h2 {
      color: #0F303F;
      margin: 0 0 20px 0;
      padding: 20px 0;
      position: relative;
    }

    section > h2::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background-color: #9b9b9b;
      z-index: -1;
    }

    .header-ui {
      background-color: #9b9b9b;
      padding: 20px 0;
      position: fixed;
      width: 100vw;
      z-index: 99;
      box-shadow: 0 0 3px 1px #000000;

      font-family: 'Inter';
    }

    .header-ui__nav {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 20px 80px;
    }

    .header-ui__inner-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      gap: 10px 30px;
    }

    .header-ui__inner-link {
      color: #ffffff;
      transition: color 0.3s ease;
    }

    .header-ui__inner-link:hover,
    .header-ui__inner-link.is-active {
      color: #0F303F;;
    }

    .header-ui__inner-link.is-inactive {
      color: #ffffff;
      pointer-events: none;
    }

    .btn {
      margin: 10px 0;
    }

  header.header-ui
    nav.header-ui__nav.container
      a.components-backwards(href="sitemap.html")
        span &larr;
        span Back to page list
      ul.header-ui__inner-list
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#modals", data-navigation-link) Modals
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#titles", data-navigation-link) Titles
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#buttons", data-navigation-link) Buttons
        li.header-ui__inner-item
          a.header-ui__inner-link(href="#form-elements", data-navigation-link) Form elements

  main
    .container
      h1 UI-kit
      //- все модалки проекта добавляем сюда, для удобства тестирования
      section(id="modals")
        h2 Modals
        p
          +btn({text: "modal-feedback"})(data-open-modal="feedback")
        p
          +btn({text: "modal-success"})(data-open-modal="success")
        p
          +btn({text: "modal-payment"})(data-open-modal="modal-payment")
        p
          +btn({text: "modal-return"})(data-open-modal="modal-return")
        p
          +btn({text: "modal-size-chart"})(data-open-modal="modal-size-chart")

      section(id="titles")
        h2 Titles
        +title({titleStyle: 'Cormoran', titleType: 'h1', titleText: 'Cormoran-title-h1', titleColor: 'blue-whale'})
        +title({titleStyle: 'Cormoran', titleType: 'h2', titleText: 'Cormoran-title-h2', titleColor: 'blue-whale'})
        +title({titleStyle: 'Cormoran', titleType: 'h3', titleText: 'Cormoran-title-h3', titleColor: 'blue-whale'})
        +title({titleStyle: 'Inter', titleType: 'h1', titleText: 'Inter-title-h1', titleColor: 'blue-whale'})
        +title({titleStyle: 'Inter', titleType: 'h2', titleText: 'Inter-title-h2', titleColor: 'blue-whale'})
        +title({titleStyle: 'Inter', titleType: 'h3', titleText: 'Inter-title-h3', titleColor: 'blue-whale'})

      section(id="buttons")
        h2 Buttons
        +btn({text: "Text", href: "#"})
        p Example
        code
          pre +btn({text: "Text", href: "#"})
        +btn({text: "Text", href: "#", isExternal: true})(aria-label="link").btn--orange
        p Example
        code
          pre +btn({text: "Text", href: "#", isExternal: true})(aria-label="link").btn--orange
        +btn({text: "Text", href: "#"}).btn--transparent
        p Example
        code
          pre +btn({text: "Text", href: "#"}).btn--transparent
        +btn({text: "Text"})(disabled)
        p Example
        code
          pre +btn({text: "Textт"})(disabled)

      section(id="form-elements")
        h2 Form elements
        div(data-validate)
          form(method="post")
            +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2"})(data-validate-type="text", data-limitations="name")
            p Example
            code
              pre +custom-input({inputError: "Invalid name", inputName: "user-name", inputMinLength: "2"})(data-validate-type="text", data-limitations="letters")
            +custom-input({inputType: "tel",inputError: "Invalid tel", inputName: "user-phone"})(data-validate-type="phone")
            p Example
            code
              pre +custom-input({inputError: "Invalid tel", inputName: "user-phone"})(data-validate-type="phone")
            +custom-input({inputType: "email",inputError: "Invalid email", inputName: "user-email"})(data-validate-type="email")
            p Example
            code
              pre +custom-input({inputError: "Invalid email", inputName: "user-email"})(data-validate-type="email")
            +custom-textarea({inputName: "user-info"})
            p Example
            code
              pre +custom-textarea({inputName: "user-info"})
            +custom-select({error: "Select the subject of the address", selectPlaceholder: 'true', optionsList: [{text: "Subject 1", value: "id-1", isActive: true}, {text: "Subject 2", value: "id-2"}, {text: "Subject 3", value: "id-3"}, {text: "Subject 4", value: "id-4"}, {text: "Subject 5", value: "id-5"}, {text: "Subject 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name", data-id="id-example").custom-select
            code
              pre
              | +custom-select({error: "Select the subject of the address", optionsList: [{text: "Subject 1", value: "id-1"}, {text:
              | "Subject 2", value: "id-2"}, {text: "Subject 3", value: "id-3"}, {text: "Subject 4", value: "id-4"}, {text: "Subject 5",
              | value: "id-5"}, {text: "Subject 6", value: "id-6"}]})(data-select, data-validate-type="select", data-name="some-name",
              | data-id="id-example").custom-select
            +custom-toggle({inputLabel: "Confirm your agreement", inputError: "Confirm is mandatory", inputName: "user-agreement", inputChecked: true})(data-validate-type="checkbox").custom-toggle--checkbox
            p Example
            code
              pre +custom-toggle({inputLabel: "Confirm your agreement", inputError: "Confirm is mandatory", inputName: "user-agreement", inputChecked: true})(data-validate-type="checkbox").custom-toggle--checkbox
            +base-radio({name: "input-radio-test",title: "Size"}, [{value: "L", id: "test-radio-1"}, {value: "XL", checked: "true", id: "test-radio-2"}])
            p Example
            code
              pre +base-radio({name: "input-radio-test",title: "Size"}, [{value: "L", id: "test-radio-1"}, {value: "XL", checked: "true", id: "test-radio-2"}])
            +btn({text: "Reset form", type: "reset"})
            +btn({text: "Submit form", type: "submit"})

  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--feedback")(data-modal="feedback")
    +modal-feedback()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="success")
    +modal-success()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-payment")
    +modal-payment()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-return")
    +modal-return()
  +modal("modal--success modal--no-scale modal--fit-content")(data-modal="modal-size-chart")
    +modal-size-chart()
