mixin clothes-slider(data)
  .clothes-slider.swiper
    .clothes-slider__wrapper.swiper-wrapper
      each item in data
        .clothes-slider__slide.swiper-slide
          +item-card(item)
    .clothes-slider__button-prev.swiper-button-prev
    .clothes-slider__button-next.swiper-button-next
