mixin content-block(data, num)
  if(num === 'first')
    .content-block
      .content-block__wrapper
        .content-block__column.content-block__column--left
          +picture("content", 'main-block-img', "png", 640, 699, "img").content-block__img.content-block__img--left
          +text-block(data, 'main')
        .content-block__column.content-block__column--right
          .content-block__img-wrapper
            p.content-block__img-text We make and sell not only clothes, but also shoes and accessories created by our designers.
            +picture("content", 'block-img', "png", 380, 380, "img").content-block__img.content-block__img--right
  else
    .content-block.content-block--second
      .content-block__wrapper.content-block__wrapper--second
        .content-block__column.content-block__column--second
          +text-block(data, 'main')
        .content-block__column.content-block__column--second
          +picture("content", 'main-block-img-2', "png", 474, 543, "img").content-block__img.content-block__img--second
        +icon('main-page-decor', 180, 264).content-block__svg


