mixin faq-accordion-item(data)
  .faq-accordion-item(data-accordion="parent")
    .faq-accordion-item__question(data-accordion="button")= data.question
    .faq-accordion-item__answer(data-accordion="content")= data.answer

