mixin header-menu(data, brands, type)
  if (type== 'main')
    .header-menu
      .header-menu__wrapper
        .header-menu__top-block
          each item in data
            .header-menu__column
              h3.header-menu__title= item.title
              ul.header-menu__list
                each link in item.category
                  li.header-menu__item
                    a(href="catalog.html")= link
        .header-menu__bottom-block
          each brand in brands
            a(href="#").header-menu__brand= brand
  else if (type== 'sub')
    .header-menu-mob
      .header-menu-mob__wrapper
        .header-menu-mob-nav
          ul.header-nav__list
            li.header-nav__item.nav-menu-open
              .header-nav__link
                a(href="#")  Women
            li.header-nav__item.nav-menu-open
              .header-nav__link
                a(href="#")  Men
        .header-menu-mob__top-block
          each item in data
            .header-menu-mob__column(data-accordion="parent")
              h3.header-menu-mob__title(data-accordion="button")= item.title
              ul.header-menu-mob__list(data-accordion="content")
                each link in item.category
                  li.header-menu-mob__item
                    a(href="catalog.html")= link
        .header-menu-mob__search-block
          li.header-nav__item
            form
              .header-nav__item-form
                a(href="#")  Search
                +custom-input({inputName: "search-input", inputMinLength: "2"})(data-validate-type="text", data-limitations="search").--search
          .header-lang
            .header-lang__wrapper
              ul.header-lang__list
                li.header-lang__item.is-active
                  a(href="#") EN
                li.header-lang__item
                  a(href="#") UA
        .header-menu__bottom-block
          each brand in brands
            a(href="#").header-menu__brand= brand



