mixin header-menu-column(data)
  .header-menu__column
    h3.header-menu__title= data.title
    ul.header-menu__list
      each item in data.category
        li.header-menu__item
          a(href="#")= item
