mixin header-menu(data, brands, type)
  if (type== 'main')
    .header-menu
      .header-menu__wrapper
        .header-menu__top-block
          each item in data
            .header-menu__column
              h3.header-menu__title= item.title
              ul.header-menu__list
                each link in item.category
                  li.header-menu__item
                    a(href="#")= link
        .header-menu__bottom-block
          each brand in brands
            a(href="#").header-menu__brand= brand
  else if (type== 'sub')
    .header-menu-mob
      .header-menu-mob__wrapper
        .header-menu-mob__top-block
          each item in data
            .header-menu-mob__column(data-accordion="parent")
              h3.header-menu-mob__title(data-accordion="button")= item.title
              ul.header-menu-mob__list(data-accordion="content")
                each link in item.category
                  li.header-menu-mob__item
                    a(href="#")= link
        .header-menu__bottom-block
          each brand in brands
            a(href="#").header-menu__brand= brand



