mixin main-page-content-block(data1, data2)
  .main-content-block
    .main-content-block__wrapper
      .main-content-block__column.main-content-block__column--left
        +picture("content", 'main-block-img', "png", 640, 699, "img").main-content-block__img.main-content-block__img--left
        +text-block(data1, 'main')
      .main-content-block__column.main-content-block__column--right
        .main-content-block__img-wrapper
          p.main-content-block__img-text Мы производим и продаем не только одежду, но и обувь и аксессуары, созданные нашими дизайнеров.
          +picture("content", 'block-img', "png", 380, 380, "img").main-content-block__img.main-content-block__img--right

