mixin main-slider-slide(data)
  if(data.side)
    .main-slider__slide-wrapper
      .main-slider__slide-text-block.main-slider__slide-text-block--auto-margin
        p.main-slider__slide-sup-title бренд
        h2.main-slider__slide-title= data.title
        a(href="#").main-slider__slide-collection-link смотреть коллекцию
      if(data.img)
        .main-slider__slide-img
          +picture("content", data.img, "png", 942, 585, "banner")
  else
    .main-slider__slide-wrapper.main-slider__slide-wrapper--slide-background
      +picture("content", data.img, "png", 1450, 585, "banner")
      .main-slider__slide-text-block.main-slider__slide-text-block--center
        p.main-slider__slide-sup-title.main-slider__slide-sup-title--center бренд
        h2.main-slider__slide-title.main-slider__slide-title--center= data.title
        a(href="#").main-slider__slide-collection-link.main-slider__slide-collection-link--center смотреть коллекцию

