mixin main-slider-slide(data)
  if(data.side)
    .main-slider__slide-wrapper
      .main-slider__slide-text-block.main-slider__slide-text-block--auto-margin
        p.main-slider__slide-sup-title бренд
        h2.main-slider__slide-title= data.title
        a(href="#").main-slider__slide-collection-link смотреть коллекцию
      if(data.img)
        +picture("content", data.img, "png", 941, 584, "banner").main-slider__slide-img
  else
    +bg-img-text-block(data, true)

