mixin main-page-second-content-block(data)
  .main-page-second-content-block
    .main-page-second-content-block__wrapper
      .main-page-second-content-block__column
        +text-block(data, 'main')
      .main-page-second-content-block__column
        +picture("content", 'main-block-img-2', "png", 474, 543, "img").main-page-second-content-block__img
        +icon('main-page-decor', 180, 264).main-page-second-content-block__svg


