mixin main-slider(data)
  .main-slider.swiper
    .main-slider__wrapper.swiper-wrapper
      each item in data
        .swiper-slide
          if(item.side)
            .main-slider__slide-wrapper
              .main-slider__slide-text-block.main-slider__slide-text-block--auto-margin
                p.main-slider__slide-sup-title бренд
                h2.main-slider__slide-title= item.title
                a(href="#").main-slider__slide-collection-link смотреть коллекцию
              if(item.img)
                +picture("content", item.img, "png", 941, 584, "banner").main-slider__slide-img
          else
            +title-block(item, true)
    .swiper-pagination.swiper-pagination--main

