mixin main-page-second-content-block(data)
  .main-page-second-content-block
    .main-page-second-content-block__wrapper
      .main-page-second-content-block__column
        +main-page-text-block(data)
      .main-page-second-content-block__column
        

