mixin title-block(data, main)
  if(main)
    .title-block.title-block--main
      .title-block__wrapper.title-block__wrapper--main
        if(data.img)
          +picture("content", data.img, "png", 1440, 585, "bg-img").title-block__bg-img.title-block__bg-img--main
        .title-block__text-wrapper
          if(data.brand)
            p.title-block__brand= data.brand
          if(data.title)
            +title({titleStyle: 'Cormoran', titleType: 'h1', titleText: data.title, titleColor: 'white'})
          if(data.text)
            each item in data.text
              p.title-block__text= item
          if(data.collection)
            .title-block__collection
              a(href="catalog.html") View the collection
  else
    .title-block.animate__animated.wow.animate__fadeIn( data-wow-duration='1.5s')
      .title-block__wrapper
        if(data.img)
          +picture("content", data.img, "png", 1440, 585, "bg-img").title-block__bg-img
        .title-block__text-wrapper
          if(data.brand)
            p.title-block__brand= data.brand
          if(data.title)
            +title({titleStyle: 'Cormoran', titleType: 'h2', titleText: data.title, titleColor: 'white'})
          if(data.text)
            each item in data.text
              p.title-block__text= item

