.about-us__color-block{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EAE9E8;
  min-height:320px;
  max-width: 1541px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-us__wrapper{
  display: flex;
  justify-content: space-between;
  margin: 130px 0px 120px;
  align-items: center ;
}

.about-us__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: $color-blue-whale;
}

.about-us__big-img{
  width: 100%;
  height: 410px;
  max-width: 410px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.about-us__small-img{
  width: 100%;
  height: 280px;
  max-width: 280px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 768px) {
  .about-us__wrapper{
    flex-direction: column;
    justify-content: center;

  :last-child{
    margin-top: 50px;
  }
}
}
