.title-block{
  margin: 0px auto 130px;
  width: 100vw;
  height: 100vh;
  max-width: 1541px;
  max-height: 585px;
}
.title-block__wrapper{
  display:flex;
  width: 100%;
  height: 100vh;
  max-height: 595px;
}
.title-block__bg-img{
  img{
  position:absolute;
  width: 100%;
  min-height: 585px;
  max-width: 1541px;
  object-fit: cover;
  object-position: center;
  }

}
