.brands-content__wrapper{
  width: 100%;
  margin: 120px 0px;
  display: flex;
  justify-content: space-between;
}

.brands-content__img{
  width: 100%;
  height: 365px;
  max-width: 264px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 768px) {
  .brands{
    flex-direction: column;
  }

  .brands-content__img{
    align-self: center;
    &--left{
      margin-bottom: 60px;
      margin-right: 0px;
    }
    &--right{
      margin-top: 60px;
      margin-left: 0px;
    }
  }

  .brands-content__wrapper{
    flex-direction: column;
    align-items: center;
  }

}
