.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  max-width: 250px;
  height: 50px;
  width: 100%;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: $color-default-white;

  background-color: #254A5A;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--orange {
    background-color: $color-cinnabar;
  }

  &--small{
    width: 139px;
    height: 39px;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
