.card-page{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #0F303F;

}

.card-page__top-block{
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}
.card-page__left-column{
  display: flex;
}
.card-page__right-column{
  margin-left: 32px;
  max-width: 300px;
}

.card-page__category{
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 10px;
}
.card-page__price{
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}
.card-page__size-chart{
  margin-top: 8px;

  a{
    transition: opacity $trans-default;
    color: #0F303F;
    text-decoration: underline;
    @include hover-focus{
      opacity: 0.8;
    }
  }
}
.card-page__sub-title{
  margin-top: 20px;
  font-family: 'Inter';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.card-page__buttons{
  display: grid;
  row-gap: 12px;
}

.card-page__delivery{
  margin-top: 20px;
}

.card-page__delivery-block{
  display: flex;
  align-items: flex-start;

  margin-top: 16px;

  svg{
    margin-right: 20px;
  }
}


.card-page__bottom-block{
  max-width: 990px;
  margin-bottom: 60px;
}

.card-page__tab-titles{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 20px;

  :last-child{
    margin-right: 0px;
  }
}
.tab-item{
  color: $color-blue-whale;
  margin-right: 24px;

  &.is-active{
    text-decoration: underline;
    text-decoration-color: $color-cinnabar;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
  }
}

.card-page__tab{
  display:none;

  &.is-active{
    display: block;

  }
}


.card-page__tab-about{
  display: flex;
  justify-content: space-between;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
  color: #0F303F;

}

.card-page__tab-about-left{
  max-width: 700px;
  margin-right: 30px;

  p{
    padding-top: 24px;
  }
}
.card-page__tab-about-right{
  width: 100%;
  height: 280px;
  max-width: 230px;
  position: relative;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

  }
}

.card-page__review{
  margin: 30px 0px 30px;
  h3{
    margin-bottom: 16px;
  }
}

.card-page__review-text-block{
  max-width: 990px;
}

.card-page__tab-qa{
  margin-top: 40px;
}
.card-page__qa{
  max-width: 900px;
  h3{
  margin-bottom: 8px;
  }

  h4{
  margin-bottom: 14px;
  font-weight: bold;
  }
  p{
  margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .card-page__top-block{
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .card-page__right-column{
    margin-left: 0;
    margin-top: 30px;
    max-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 700px) {
  .card-page__tab-about{
    flex-direction: column;
    align-items: center;
  }

  .card-page__tab-about-right{
    margin: 40px 0px;
  }

  .card-page__tab-about-left{
    margin: 0px;
  }
}
