.catalog{}
.catalog__wrapper{
  h2{
    margin: 40px 0px;
  }
}
.catalog__catalog-block{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-template-rows: minmax(100px, auto);
}
.catalog__button{
  display: flex;
  justify-content: center;

  margin: 40px 0px;
}
