.clothes-slider-block{
  max-width: 1155px;
  width: 100%;
  margin: auto;
  position: relative;
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    color:#254A5A;
    width: 90px;
    height: 90px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  .swiper-button-prev{
    top:40%;
    left: -1%;
  }
  .swiper-button-next{
    top:40%;
    right: -1%;
  }

}

.clothes-slider{
  max-width: 1055px;
  width: 100%;

}

.clothes-slider__wrapper{
  text-align: center;
}

.clothes-slider__slide{
  max-width: 230px;
}


@media (max-width: 770px) {
  .clothes-slider-block{

    .swiper-button-prev,
    .swiper-button-next{
      width: 60px;
      height: 60px;
      
      &::after{
        font-size: 30px;
    }

  }
}
}

