
.clothes-slider-block__title{
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: $color-blue-whale;
  margin: 120px 0px 75px;
}

.middle-line{
  margin: 95px 0px 81px;
  svg{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  }
}
