

.clothes-slider{
  max-width: 1055px;
  width: 100%;

  .swiper-button-prev,
  .swiper-button-next{
    color:#254A5A;
    font-size: 80px;
    width: 90px;
    height: 90px;
    background-color: $color-default-white;
    border-radius: 50%;
    margin: -80px -70px 0px;
    z-index: 1;

  }

}

.clothes-slider__wrapper{
  text-align: center;
}

.clothes-slider__slide{
  max-width: 230px;
}

