.content-block{
  background-color: $color-default-white;
  margin-top: 120px;
  max-width: 1541px;
  margin: auto;
}

.content-block__wrapper{
  display: flex;
  width: 100%;
}

.content-block__column{
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  &--right{
    background-color: #CEC6C4;
    max-width: 901px;
    min-height: 600px;
  }

  &--left{
    position: relative;
    max-width: 1000px;
    min-height: 700px;
  }
}

.content-block__img-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $color-default-white;

  max-width: 310px;
  position: absolute;
  bottom: 25%;
  padding: 0 10px;
}

.content-block__img-wrapper{
  background-color: $color-default-white;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-block__img{
  img{
    width: 100%;
  }
  &--right{
    max-height: 380px;
    img{
      min-height: 316px;
    }
  }
  &--left{
    position: absolute;
    width: 100%;
    img{
      height: 700px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.content-block__collection{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: $color-desert-storm;

}

@media (max-width: 768px) {
  .content-block__wrapper{
    display: block;
  }

}








// @media (max-width: 768px) {
//   .content-block__img{
//     display: none;
//   }

//   .content-block__wrapper{
//     align-items: center;
//     justify-content: center;
//   }

//   .content-block{
//     margin: 0 auto;
//   }

//   .content-block__svg{
//     right: 3%;
//   }
// }

// .content-block{
//   background: #254A5A;
//   margin-bottom: 125px;
//   max-width: 1541px;
//   width: 100%;
//   margin: 0px auto 130px;
// }

// .content-block__wrapper{
//   margin: auto;
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   max-width: 1050px;
//   padding: 142px 0px 147px;
//   position: relative;
// }

// .content-block__img{
//   position: absolute;
//   top: 15%;
//   left: 55%;

//   img{
//     width: 100%;
//   }
// }
// .content-block__svg{
//   position: absolute;
//   top: -3.5%;
//   right: 37%;

//   svg{
//     width: 100%;
//   }
// }

