.custom-textarea{
  border: 1px solid #254A5A;
  margin: 15px 0px;
  padding: 10px;
  textarea{
  height: 100px;
  }
}

.custom-input{
  margin-bottom: 15px;
  border-bottom: 1px solid #254A5A;
}

.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 250px;

  ::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #B7C1C5;
    }

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      flex-grow: 1;
      min-height: 40px;
      background-color: inherit;
      border: none;
      outline: none;

      transition: border $trans-default;


      &:hover {
      }

      &:focus {
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -5px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}
