.faq__container{
  max-width: 850px;
  width: 100%;
  margin: 68px auto 0px;
  padding: 0 20px;
}

.faq__wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.faq__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color-blue-whale;
  padding: 58px 0px 18px;
}

.faq__accordion-block-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 17px;
  text-transform: uppercase;
  color: $color-blue-whale;
  padding-bottom: 17px;
  margin-top: 40px;
  border-bottom: 1px solid #EAE9E8;
}

.faq__accordion{
  max-width: 470px;
  width: 100%;
}

.faq-accordion-item{
  border-bottom: 1px solid #EAE9E8;
  background-color: $color-default-white;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  &.active{
    .faq-accordion-item__answer{
    transition: all .3s ease-out;
    height: 100%;
    margin:10px 0px 26px;
    }

    .faq-accordion-item__question{
      &::before{
        transform: rotate(0deg);
        background: $color-cinnabar;
      }

      &::after{
        background:$color-cinnabar;
      }
    }

  }
}


.faq-accordion-item__question{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  color: #0F303F;
  padding: 18px 0px;
  opacity: 0.7;
  position: relative;
  transition: all .3s ease;

  &::before{
    content: '';
    width: 20px;
    height: 2px;
    background-color: $color-blue-whale;
    position: absolute;
    right: 0;
    top: 24px;
    transform: rotate(-90deg);
    transition: transform .3s ease 0s;
  }

  &::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: $color-blue-whale;
    position: absolute;
    right: 0;
    top: 24px;
  }


  }


.faq-accordion-item__answer{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 17px;
  color: #0F303F;
  opacity: 0.7;
  max-width: 440px;
  max-height: 0;
  transition: all .3s ease-out;
}








