.faq__container{
  max-width: 950px;
  width: 100%;
  margin: 68px auto 0px;
  padding: 0 16px;
}

.faq__wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.faq__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: $color-blue-whale;
  margin: 58px 0px;
}

.faq__accordion-block-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 17px;
  text-transform: uppercase;
  color: $color-blue-whale;
  padding-bottom: 17px;
  margin-top: 40px;
  border-bottom: 1px solid #EAE9E8;
}

.faq__accordion{
  max-width: 470px;
  width: 100%;
  :first-child{
    margin-top: 0px;
  }
}

.faq-accordion-item{
  border-bottom: 1px solid #EAE9E8;
  background-color: $color-default-white;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  &.active{

    .faq-accordion-item__answer{
    height: 100%;
    margin:10px 0px 26px;
    }

    .faq-accordion-item__question{
      &::before{
        transform: rotate(0deg);
        background: $color-cinnabar;
      }

      &::after{
        background:$color-cinnabar;
      }
    }

  }
}


.faq-accordion-item__question{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #0F303F;
  padding: 18px 0px;
  opacity: 0.8;
  position: relative;

  &::before{
    transition: transform $trans-default;
    content: '';
    width: 20px;
    height: 2px;
    background-color: $color-blue-whale;
    position: absolute;
    right: 0;
    top: 24px;
    transform: rotate(-90deg);
  }

  &::after{
    content: '';
    width: 20px;
    height: 2px;
    background-color: $color-blue-whale;
    position: absolute;
    right: 0;
    top: 24px;
  }


  }


.faq-accordion-item__answer{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #0F303F;
  opacity: 0.7;
  max-width: 440px;
  max-height: 0;
  transition: max-height $trans-default, margin $trans-default;
}


.faq__feedback-block{
  background: #F4F4F4;
  max-width: 300px;
}

.faq__feedback__wrapper{
  padding: 28px 25px;
}

.faq__feedback__text.faq__feedback__text{
  font-family: 'Inter';
  font-style: normal;
  color: $color-blue-whale;

  &--title{
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    max-width: 250px;
    margin-bottom: 20px;
  }
  &--sub{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: #6C6C6C;
  }
}

@media (max-width: 800px) {
  .faq__wrapper{
    flex-direction: column;
    align-items: center;
  }

  .faq__column{
    width: auto;
  }

  .faq__title{
    text-align: center;
  }

  .faq__feedback-block{
    margin-top: 45px;
  }
}
