.footer {
  background-color: $color-default-white;
  overflow: hidden;
  padding: 0 20px;


&__upper-menu{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;

  &::after{
    content: '';
    height: 1px;
    width: 1541px;
    background-color: #eae9e8;
    left: -8%;
    top: -30%;
    position: absolute;
  }
}

&__bottom-menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  position: relative;

  font-family: 'Inter';
  font-style: normal;
  color: $color-blue-whale;

  a{
    color: $color-blue-whale;
    transition: color $trans-default;

    @include hover {
      color: $color-submarine;
    }
  }

  &::after{
    content: ' ';
    height: 1px;
    width: 1541px;
    background-color: #eae9e8;
    left: -8%;
    top: 0;
    position: absolute;
  }
}

&__search-input-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

&__heading{

  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 31px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $color-blue-whale;
  margin: 65px 0px 48px;

}

&__nav-list{
  margin: 30px 0px 64px;

  :last-child{
    margin-right: 0px;
  }

  a, p {
    color: $color-alto;
    cursor: pointer;
    transition: color $trans-default;

  @include hover {
    color: $color-blue-whale;
    }
  }
}

&__nav-item{
  display: inline-block;
  margin-right: 40px;
}

&__search-button{
  background-color: inherit;
  border: none;
  transition: transform $trans-default;
  cursor: pointer;

  @include hover {
    transform: scale(1.4);
  }
}

}


.footer__dev{
  display: flex;
  align-items: center;


  @include hover {
    svg{
      fill: $color-alto;
    }
    }

  svg{
    transition: fill $trans-default;
    fill: $color-blue-whale;
  }

}

.footer__dev-arrow{
    animation: arrow 2s ease-in-out infinite;
    margin-left: 9px;
    margin-right: 18px;
}



@media (max-width: 960px) {

  .footer{

  &__search-button{
    display: none;
  }

  &__bottom-menu{


    a, p{
      font-family: 'Inter';
      font-style: normal;
      font-weight: 200;
      font-size: 12px;
      line-height: 15px;
    }
    }
  }

  .footer__dev-arrow{
    display: none;
}
}

@media (max-width: 770px) {
  .footer__nav-item{
    display: block;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {

  .footer{

  &__bottom-menu{
    a, p{
      font-weight: 300;
      font-size: 9px;
      line-height: 10px;
    }
}

  &__heading{
      font-weight: 600;
      font-size: 26px;
  }
}

}


