.footer {
  background-color: $color-default-white;
}

.footer__bottom-menu{
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  align-items: center;
  color: $color-blue-whale;
  a{
    color: $color-blue-whale;
  }
  a:hover{
    color: $black-to-right;
    text-decoration: underline;
  }
}
