.header-menu__column{
  min-width: 230px;
  margin-bottom: 44px;
  margin-right: 30px;
  border-right: 1px solid #EAE9E8;
}

.header-menu__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 17px;
  color: $color-blue-whale;
}
.header-menu__list{
}
.header-menu__item{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
  margin-bottom: 8px;

  a{
    color: $color-blue-whale;
  }

  :hover{
      color: $color-cinnabar;
      list-style: circle;
      transition: all .3s ease;
  }
}
