.header-menu__column{
  max-width: 230px;
  padding: 0px 15px 44px;
  border-right: 1px solid #EAE9E8;
}

.header-menu__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 17px;
  color: $color-blue-whale;
  margin: 45px 0px 30px;
}

.header-menu__item{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  list-style-type: none;
  margin-bottom: 8px;
  position: relative;

  a{
    color: $color-blue-whale;
    transition: color $trans-default;
  }

  @include hover-focus {
      a{
        color: $color-cinnabar;
      }

      &::before{
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $color-cinnabar;
        position: absolute;
        top: 32%;
        left: -10%;
      }
  }
}


@media (max-width: 960px) {
  .header-menu__list{
    transition: all $trans-default;
    opacity: 0;
    max-height: 0;
    padding: 0;
    box-sizing: content-box;
    a{
      margin-bottom: 5px;
    }

  }

  .header-menu__title{
    cursor: pointer;
  }

  .header-menu__column{
    border-right: none;
    padding: 0 20px;

    &.is-active{

      .header-menu__title{
        &::before{
          transform: rotate(0deg);
          background: $color-cinnabar;
        }

        &::after{
          background:$color-cinnabar;
        }
      }

      .header-menu__list{
        opacity: 1;
        padding-top: 27px;
      }
    }

    .header-menu__column{
      margin-bottom: 0px;
    }


  }

  .header-menu__title{
    margin: 0px;
    position: relative;

    &::before{
      content: '';
      width: 20px;
      height: 2px;
      background-color: $color-blue-whale;
      position: absolute;
      left: 130%;
      top: 50%;
      transform: rotate(-90deg);
      transition: transform .3s ease 0s;
    }

    &::after{
      content: '';
      width: 20px;
      height: 2px;
      background-color: $color-blue-whale;
      position: absolute;
      left: 130%;
      top: 50%;
    }

  }
}
