.header-menu{
  border-top: 1px solid #EAE9E8;
  //transform: translateY(-100%);
  z-index: 2;
  position: absolute;
  background: $color-default-white;
  width: 1543px;
}

.header-menu__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px;
}

.header-menu__top-block{
  display: grid;
  grid-template-columns: repeat(5, 230px);
  gap: 40px;
  border-bottom: 1px solid #EAE9E8;
  :last-child{
    border: none;
    grid-template-columns: 80px;
  }
}

.header-menu__brand{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-arapawa;
  transition: all .3s ease;
}

.header-menu__bottom-block{
  padding: 20px 0px 25px;
  max-width: 521px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a:hover{
    color: rgb(81, 140, 165);
  }
}
