.header-menu{
  transform: translateY(-100%);
  transition: all .4s ease;
  z-index: 2;
  position: fixed;
  background: $color-default-white;
  width: 100%;
  left: 0;
  top: 0;
  margin-top: 64px;

}

.header-menu._active{
  transform: translateY(0px);
}

.header-menu__wrapper{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-menu__top-block{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  border-bottom: 1px solid #EAE9E8;
  max-width: 1150px;
  margin: auto;
  width: 100%;
  :last-child{
    border: none;
    grid-template-columns: 80px;
  }
}

.header-menu__brand{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-arapawa;
  transition: all .3s ease;
}

.header-menu__bottom-block{
  padding: 20px 20px 25px;
  max-width: 521px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a:hover{
    color: rgb(81, 140, 165);
  }
}



@media (max-width: 960px) {

  .header-menu{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    margin: 0;
  }

  .header-menu__wrapper{
    width: 100%;
    height: 100%;
  }

  .header-menu__column{
    max-width: 180px;
    width: 100%;
    text-align: center;
  }

  .header-menu__top-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 200px 0 100px;

    &:last-child{
      margin-bottom: 20px;
    }
  }

  .header-menu__bottom-block{
    padding-bottom: 45px;
  }

}

@media (max-width: 500px) {

  .header-menu__brand{
    font-size: 8px;
  }

  .header-menu__bottom-block{
    padding-bottom: 25px;
  }
}
