.header {
  position: relative;
  z-index: 13;
  padding: 24px 0 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-blue-whale;
  background-color: $color-default-white;
  border-bottom: 1px solid #EAE9E8;
  transition: all $trans-default;


  &.is-hidden{
    position: fixed;
    width: 100%;
    left: 0;
    top:-100px;
  }

  &.is-fixed{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  ul{
  list-style: none;
  }

  a{
    color: $color-blue-whale;
  }


.header-nav{

  &__item{
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    position:relative;
    margin-left: 40px;
    min-height: var(--header-height);


    &:first-child{
      margin-left: 0px;
    }

  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: var(--header-height);
    align-items: flex-start;
}

  &__item-input{
    border: none;
    border-bottom: 2px solid #0F303F;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 150px;
  }


  &__item-form{
    display: flex;
    align-items: center;

    a{
      margin-right: 20px;
    }
  }

}

.header-nav__link{

  a{
    color: $color-alto;
    position: relative;
    transition: color $trans-default;


      &:after {
        position: absolute;
        content: '';
        bottom: -24px;
        display: block;
        width: 0;
        height: 2px;
        background: $color-cinnabar;
        transition: .3s;

        left: 50%;
        transform: translate(-50%);
      }
    }

  &.is-active{
      a{
        color: $color-blue-whale;
        &:after {
          width: 100%;
        }

      }
    }
  }
}

  .header-lang{

  &__list{
    display: flex;
  }

  &__item{
  margin-left: 12px;

  @include  hover-focus{
    a{
    color: $color-cinnabar;
    transition: color $trans-default;
    }
  }

  &.is-active {

    a{
    text-decoration: underline;
    text-decoration-color: $color-cinnabar;
    text-underline-offset: 26px;
    text-decoration-thickness: 3px;
    color: $color-cinnabar;
  }

}
}
  }


.header-icons{



&__burger-icon{
  position: relative;
  width: 20px;
  height: 1px;
  margin-bottom: 7px;
  margin-top: 8px;
  background: $color-blue-whale;
  justify-content: center;
  display: none;


  &::after{
    content: ' ';
    position: absolute;
    width: 10px;
    height: 1px;
    background: $color-blue-whale;
    right: 0;
    top: 7px;
  }

}

  &__icon{
    margin-left: 12px;
    cursor: pointer;

    position: relative;
    transition: transform $trans-default, opacity $trans-default, color $trans-default;

    svg{
      fill: $color-blue-whale;
    }


      &::after {
        position: absolute;
        content: '';
        bottom: -13px;
        display: block;
        width: 0;
        height: 2px;
        background: $color-arapawa;
        transition: .3s;

        left: 50%;
        transform: translate(-50%);
      }

      @include hover-focus {
        opacity: 0.7;
        &::after {
          width: 100%;
        }
      }


  &.is-active{

    transform: rotate(45deg);
    width: 20px;
    top: 0px;
    margin-bottom: 3px;
    padding-top: 2px;

    .header-icons__burger-icon{
      transition: transform $trans-default;
    &::after{
      top: 0;
      width: 20px;
      transform: rotate(90deg);
    }
  }
  }
}

  &__list{

    display: flex;
    a{
      align-items: center;
    }

  li:last-child{
    margin-left: 22px;
  }
}
}



@media (max-width: 960px) {
  .header-nav{
    display: none;
  }

  .header-lang{
    display: none;
  }

  .header-icons__icon{
  .header-icons{

    &__burger-icon{
    display: block;
  }
}
}

}
