.main-content-block{
  background-color: $color-default-white;
  margin-top: 120px;
}

.main-content-block__wrapper{
  display: flex;
}

.main-content-block__column{
  &--right{
    background-color: #CEC6C4;
    min-width: 810px;
    min-height: 700px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--left{
    position: relative;
    min-width: 640px;
    min-height: 700px;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

.main-content-block__img-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: $color-default-white;
  max-width: 310px;
  position: absolute;
  bottom: 25%;
}

.main-content-block__img-wrapper{
  min-width: 600px;
  min-height: 600px;
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-content-block__img{
  img{
    width: 100%;

  }
  &--left{
    img{
      position: absolute;
      width: 100vw;
      max-height: 700px;
    }
  }
}

.main-content-block__collection{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: $color-desert-storm;

}

@media (max-width: 990px) {
  .main-content-block__wrapper{
    display:block;
  }


@media (max-width: 770px) {

}
}
