.main-content-block__text-block{
  position: relative;
  max-width: 442px;
  padding: 0px 20px;
  width: 100%;

  &--first{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  a:hover{
    transition: all .3s ease;
    color: #c6c6c6;
  }
}

.main-content-block__title{
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 102.5%;
  text-transform: uppercase;
  color: $color-default-white;
  margin-bottom: 20px;
}

.main-content-block__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 17px;
  color: $color-default-white;
  margin-bottom: 40px;
}


@media (max-width: 400px) {
  .main-content-block__title{
    &--first{
      font-size: 60px;
    }
  }
}

