.swiper-pagination{

  &--main{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;

    .swiper-pagination-bullet-active{
      color: #ffffff;

    }

    .swiper-pagination-bullet{
      padding: 0px 51px 40px 0px;
      background-color: inherit;
    }

    :nth-child(4){
      color: rgba(37, 74, 90, 1);
      ;
    }
    :nth-child(3){
      color: rgba(37, 74, 90, 1);
      ;
    }

    :last-child{
      padding-right: 0px;
    }
  }

}

.main-slider{
  margin-top: 68px;
}
.main-slider__wrapper{
  height: 100vh;
}

