
.profile__wrapper{
  display: flex;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #254A5A;
}

.profile__left-column{
  border-left: $color-alto 1px solid;
  border-right: $color-alto 1px solid;
  padding: 30px;
  max-width: 420px;
}

.profile__right-column{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - var(--header-height, 1vh));
  justify-content: space-between;
}

.profile__menu-item{
  display: flex;
  align-items: center;
  margin-bottom: 36px;

  position: relative;

  p{
    transition: color $trans-default;
    }


  &::before {
    content: '';
    position: absolute;
    right: 113%; top: -8px;
    height: 0;
    width: 4px;
    background-color: $color-cinnabar;
    transition: height $trans-600, opacity $trans-default;
    border-radius: 5px;
  }

  &.is-active{


    p{
    color: $color-cinnabar;
    }
    &::before{
      height: 46px;
      transition: height $trans-default;
    }

    svg{
      margin-right: 18px;
      fill: $color-cinnabar;
    }

  }

  p{
    pointer-events: none;
  }
  svg{
    transition: fill $trans-default;

    margin-right: 18px;
    fill: #254A5A;
  }


}
.profile__text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;

  color: #0F303F;
}

.profile__tab-wrapper{
  padding: 60px 0px 0px 50px;
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.profile__tab{
  opacity: 0;
  max-height: 0;

  &.is-active{
    transition: opacity $trans-600;
    opacity: 1;
    max-height: 100%;
  }
}




@media (max-width: 650px) {
  .profile__wrapper{
    display: block;
    width: 100%;
  }

  .profile__left-column{
    border: none;
    width: 100%;

    margin: 0 auto;
    padding: 30px 0px;
  }

  .profile__tab-wrapper{
    padding: 30px 0px;
  }

  .profile__menu-item{

    &.is-active{

      &::before{
        left: 100%;
      }
    }
}
}
