mixin fav-button(settings)

  .fav-button
    input(type="checkbox", class="visually-hidden" id=settings.id, name=settings.name, checked=settings.checked ? true : false)
    label(for=settings.id)
      +icon('favorite', 28, 28)
