mixin fav-button(settings)

  .fav-button
    input(type="checkbox", class="visually-hidden" id=settings.id, name=settings.name, checked=settings.checked ? true : false)
    label(for=settings.id)
      svg(width='23', height='21', viewBox='0 0 23 21', fill='none', xmlns='http://www.w3.org/2000/svg').fav-button__svg
        path(fill-rule='evenodd', clip-rule='evenodd', d='M2.25109 2.95131C4.18092 0.964146 7.3098 0.964146 9.23963 2.95131L11.2361 5.00707L13.2325 2.95131C15.1624 0.964146 18.2912 0.964146 20.2211 2.95131C22.1509 4.93848 22.1509 8.16032 20.2211 10.1475L11.2361 19.3994L2.25109 10.1475C0.321252 8.16032 0.321253 4.93848 2.25109 2.95131Z', stroke='#0F303F', stroke-linecap='round')
