.clothes-slider-block{
  max-width: 1155px;
  width: 100%;
  // TODO нет отступов внешних в компоненте
  margin: auto;
  position: relative;
  .swiper-button-prev,
  .swiper-button-next{
    position: absolute;
    color:#254A5A;
    width: 90px;
    height: 90px;
    background-color: $color-default-white;
    border-radius: 50%;
  }

  .swiper-button-prev{
    top:40%;
    left: -1%;
  }
  .swiper-button-next{
    top:40%;
    right: -1%;
  }

}

.clothes-slider{
  max-width: 1055px;
  width: 100%;

}

.clothes-slider__wrapper{
  text-align: center;
}

.clothes-slider__slide{
  max-width: 230px;
}

.clothes-slider-block__title{
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: $color-blue-whale;
  margin: 120px 0px 75px;
}



@media (max-width: 770px) {
  .clothes-slider-block{

    .swiper-button-prev,
    .swiper-button-next{
      width: 60px;
      height: 60px;

      &::after{
        font-size: 30px;
    }

  }
}
}

