.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* stylelint-disable-next-line */
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.rouble {
  font-family: $ff-rouble;
  /* stylelint-disable */
  text-transform: lowercase !important;
  font-weight: 400 !important;
  /* stylelint-enable */
}


.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock-ios {
  position: fixed;

  overflow: hidden;
}

.scroll-lock {

  overflow-y: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.no-transition {
  /* stylelint-disable-next-line */
  transition: none !important;
}

.middle-line{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.mini-content-block{

  display: flex;

  margin: 5px 0px;

  div{
    margin-left: 10px;

  &:first-child{
    margin-left: 0px;
  }
  }

}

.cart-icon{
  position: relative;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 1px;
    background-color: $color-cinnabar;
    bottom: 2%;
    right: -20%;
    transition: opacity $trans-600;
    opacity: 0;
}

.cart-confirm-modal{
  position: fixed;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: none;
  color: #254A5A;
  width: 300px;
  opacity: 0;
  pointer-events: none;

  right: 1%;
  top: 10%;

  border: $color-alto 1px solid;
  padding: 24px;
  background-color: $color-default-white;

  transition: opacity $trans-600;
  -webkit-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.1);
  &.is-active{
    opacity: 1;
    pointer-events: all;
  }

}

.empty-page{
  position: absolute;
  font-weight: bold;
  font-size: 60px;
  line-height: 100%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: opacity $trans-600;
  opacity: 0;


  h2{
    margin-bottom: 16px;
    text-align: center;
  }

  &.is-active{
    opacity: 1;
    pointer-events: all;
  }
}
