mixin footer(footerMods)

  -
    const footerLinks = [
      {
        href: "about-us.html",
        text: "About us"
      },
      {
        href: "faq.html",
        text: "FAQ"
      },
      {
        href: "brands.html",
        text: "Brands"
      },
    ]


  footer.footer
      .footer__upper-menu
        .footer__heading
          +title({titleStyle: 'Cormoran', titleType: 'h2', titleText: 'Stay updated', titleColor: 'blue-whale'})
        div(data-validate).footer__search
          form(method="post")
            .footer__search-input-wrapper
              +custom-input({inputType: "email", inputError: "Invalid email", inputName: "user-email", inputPlaceholder: "E-mail", inputName: "user-email"})(data-validate-type="email").--footer
              button(type='submit').footer__search-button
                +icon('mail-submitt', 18, 18)
        nav.footer__nav
          .footer__nav-wrapper
            ul.footer__nav-list
              each link in footerLinks
                li.footer__nav-item
                  a(href=link.href)= link.text
              li.footer__nav-item
                a(href="#" data-open-modal="modal-return") Returns and Exchanges
              li.footer__nav-item
                a(href="#" data-open-modal="modal-payment") Payment and Shipping
      .footer__bottom-menu
          .footer__all-right
            p All rights reserved © 2020 Allegria.com
          .footer__dev
            +icon('arrow', '20', '20').footer__dev-arrow
            a(href="https://github.com/LychakVlad" target="_blank") Development

