mixin header(currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header
    .container
      if(currentUrl === "index.html")
        span.header__logo
          +icon('logo', 129, 16)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon('logo', 129, 16)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item
              a(href="#") Женщины
            li.main-nav__item
              a(href="#") Мужчины
            li.main-nav__item
              span Поиск
            li.main-nav__item
              form.main-nav__item-form
                input(type="text").main-nav__item-input
      .header__lang
        .header__lang-wrapper
          ul.header__lang-list
            li.header__lang-item
              a(href="#") RU
            li.header__lang-item
              a(href="#") UA
            li.header__lang-item
              a(href="#") EN
      .header__menu
        .header__menu-wrapper
          ul.header__menu-list
            li.header__menu-item
              a(href="#")
                +icon('personal-acc', 16, 18)
            li.header__menu-item
              a(href="#")
                +icon('fav-icon', 19, 16)
            li.header__menu-item
              a(href="#")
                +icon('cart-icon', 16, 18)

