mixin header(currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
    ]

  -
    const headerMenuItems = {
      first: {
        title: 'Одежда',
        category: ['Свитшоты и худи','Платья юбки','Футболки и топы','Брюки и шорты','Рубашки','Комбинезоны','Леггинсы','Куртки','Пальто','Плащи','Желетки','Ветровки',
        ],
      },
      second: {
        title: 'Обувь',
        category: ['Кроссовки', 'Шлепанцы',
        ],
      },
      third: {
        title: 'Сумки',
        category: ['Сумки','Рюкзаки','Кроссбоди','Поясные','Спортивные','Шопперы',
        ],
      },
      fourth: {
        title: 'Аксессуары',
        category: ['Головные уборы','Перчатки','Шарфы и платки','Носки','Гетры',
        ],
      },
      fivth: {
        title: 'Белье',
        category: ['Разное',
        ],
      },
    }

  -
    const headerBrands = ['Deha', 'American vintage', 'george gina lucy', 'birkenstock']

  header.header
    .container
      if(currentUrl === "index.html")
        span.header__logo
          +icon('logo', 129, 16)
      else
        a.header__logo(href="index.html", aria-label="Переход на главную")
          +icon('logo', 129, 16)
      nav.main-nav
        .main-nav__wrapper
          ul.main-nav__list
            li.main-nav__item.nav-menu-open._active
              p Женщины
            li.main-nav__item.nav-menu-open
              p Мужчины
            li.main-nav__item
              span Поиск
            li.main-nav__item
              .main-nav__item-form
                form
                  .main-nav__item-input-wrapper
                    input(type="text").main-nav__item-input
      .header__lang
        .header__lang-wrapper
          ul.header__lang-list
            li.header__lang-item
              a(href="#") RU
            li.header__lang-item
              a(href="#") EN
      .header__menu
        .header__menu-wrapper
          ul.header__menu-list
            li.header__menu-item
              a(href="#")
                +icon('personal-acc', 16, 18)
            li.header__menu-item
              a(href="#")
                +icon('fav-icon', 20, 20)
            li.header__menu-item
              a(href="#")
                +icon('cart-icon', 16, 18)
            li.header__menu-item.header__menu-item--trigger
              span.header__burger-menu-icon
  .header-menu
    .header-menu__wrapper
      .header-menu__top-block
        nav.main-nav
          .main-nav__wrapper
            ul.main-nav__list
              li.main-nav__item.nav-menu-open._active
                p Женщины
              li.main-nav__item.nav-menu-open
                p Мужчины
              li.main-nav__item
                span Поиск
              li.main-nav__item
                .main-nav__item-form
                  form
                    .main-nav__item-input-wrapper
                      input(type="text").main-nav__item-input
        .header__lang
          .header__lang-wrapper
            ul.header__lang-list
              li.header__lang-item
                a(href="#") RU
              li.header__lang-item
                a(href="#") EN
        each item in headerMenuItems
          +header-menu-column(item)
      .header-menu__bottom-block
        each brand in headerBrands
          a(href="#").header-menu__brand= brand
