mixin header(currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Main"
      },
    ]

  -
    const headerMenuItems = {
      first: {
        title: 'Одежда',
        category: ['Свитшоты и худи','Платья юбки','Футболки и топы','Брюки и шорты','Рубашки','Комбинезоны','Леггинсы','Куртки','Пальто','Плащи','Желетки','Ветровки',
        ],
      },
      second: {
        title: 'Обувь',
        category: ['Кроссовки', 'Шлепанцы',
        ],
      },
      third: {
        title: 'Сумки',
        category: ['Сумки','Рюкзаки','Кроссбоди','Поясные','Спортивные','Шопперы',
        ],
      },
      fourth: {
        title: 'Аксессуары',
        category: ['Головные уборы','Перчатки','Шарфы и платки','Носки','Гетры',
        ],
      },
      fivth: {
        title: 'Белье',
        category: ['Разное',
        ],
      },
    }

  -
    const headerBrands = ['Deha', 'American vintage', 'george gina lucy', 'birkenstock']

  header.header
    .container.container--header
      if(currentUrl === 'index.html')
        span.header__logo
          +icon('logo', 129, 16)
      else
        a.header__logo(href="index.html", aria-label="Back to main page")
          +icon('logo', 129, 16)
      nav.header-nav
        .header-nav__wrapper
          ul.header-nav__list
            li.header-nav__item.nav-menu-open
              a(href="#")  Women
              +header-menu(headerMenuItems, headerBrands, main)
            li.header-nav__item.nav-menu-open
              a(href="#")  Men
              +header-menu(headerMenuItems, headerBrands, main)
            li.header-nav__item
              form
                .header-nav__item-form
                  a(href="#")  Search
                  +custom-input({inputName: "search-input", inputMinLength: "2"})(data-validate-type="text", data-limitations="search").--search
      .header-lang
        .header-lang__wrapper
          ul.header-lang__list
            li.header-lang__item.is-active
              a(href="#") EN
            li.header-lang__item
              a(href="#") UA
      .header-icons
        .header-icons__wrapper
          ul.header-icons__list
            li.header-icons__icon
              a(href="sign-in.html")
                +icon('personal-acc', 16, 18)
            li.header-icons__icon
              a(href="#")
                +icon('fav-icon', 20, 20)
            li.header-icons__icon
              a(href="#")
                +icon('cart-icon', 16, 18)
            li.header-icons__icon.header-menu-open
              a(href="#").header-icons__burger-icon
