mixin header(currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Main"
      },
    ]

  -
    const womenHeaderMenuItems = {
      first: {
        title:'Women',
        category: ['Sweatshirts and hoodies', 'Skirt dresses', 'T-shirts and tops', 'Pants and shorts', 'Shirts', 'Overalls', 'Leggings', 'Jackets', 'Coats', 'Raincoats', 'Jellies', 'Windbreakers',
        ],
      },
      second: {
        title:'Women',
        category: ['Sneakers','Flip-flops',
        ],
      },
      third: {
        title:'Women',
        category: ['Bags', 'Backpacks', 'Crossbody', 'Belted', 'Sporty', 'Choppers',
        ],
      },
      fourth: {
        title:'Women',
        category: ['Headwear','Gloves','Scarves & Shawls','Socks','Gaiters',
        ],
      },
      fivth: {
        title:'Women',
        category: ['Miscellaneous',
        ],
      },
    }

  -
    const menHeaderMenuItems = {
      first: {
        title:'Men',
        category: ['Sweatshirts and hoodies', 'Skirt dresses', 'T-shirts and tops', 'Pants and shorts', 'Shirts', 'Overalls', 'Leggings', 'Jackets', 'Coats', 'Raincoats', 'Jellies', 'Windbreakers',
        ],
      },
      second: {
        title:'Men',
        category: ['Sneakers','Flip-flops',
        ],
      },
      third: {
        title:'Men',
        category: ['Bags', 'Backpacks', 'Crossbody', 'Belted', 'Sporty', 'Choppers',
        ],
      },
      fourth: {
        title:'Men',
        category: ['Headwear','Gloves','Scarves & Shawls','Socks','Gaiters',
        ],
      },
      fivth: {
        title:'Men',
        category: ['Miscellaneous',
        ],
      },
    }


  -
    const headerBrands = ['Deha', 'American vintage', 'george gina lucy', 'birkenstock']

  header.header
    .container.container--header
      if(currentUrl === 'index.html')
        span.header__logo
          +icon('logo', 129, 16)
      else
        a.header__logo(href="index.html", aria-label="Back to main page")
          +icon('logo', 129, 16)
      nav.header-nav
        .header-nav__wrapper
          ul.header-nav__list
            li.header-nav__item.nav-menu-open
              .header-nav__link
                a(href="#")  Women
              +header-menu(womenHeaderMenuItems, headerBrands, 'main')
            li.header-nav__item.nav-menu-open
              .header-nav__link
                a(href="#")  Men
              +header-menu(menHeaderMenuItems, headerBrands, 'main')
            li.header-nav__item
              form
                .header-nav__item-form
                  a(href="#")  Search
                  +custom-input({inputName: "search-input", inputMinLength: "2"})(data-validate-type="text", data-limitations="search").--search
      .header-lang
        .header-lang__wrapper
          ul.header-lang__list
            li.header-lang__item.is-active
              a(href="#") EN
            li.header-lang__item
              a(href="#") UA
      .header-icons
        .header-icons__wrapper
          ul.header-icons__list
            li.header-icons__icon
              a(href="sign-in.html")
                +icon('personal-acc', 16, 18)
            li.header-icons__icon
              a(href="favorite-page.html")
                +icon('fav-icon', 20, 20)
            li.header-icons__icon
              a(href="cart.html")
                +icon('cart-icon', 16, 18)
            li.header-icons__icon.header-menu-open
              a(href="#").header-icons__burger-icon
    +header-menu(menHeaderMenuItems, headerBrands, 'sub')
