.custom-textarea{
  border: 1px solid #DBDBDB;
  padding: 10px;
  textarea{
  height: 100px;
  }
}

.custom-input{
  margin-bottom: 25px;
  border-bottom: 1px solid  #DDDDDD;
  max-width: 250px;

  &.--search {
    border-bottom: 1px solid  #0F303F;
    width: 150px;
    margin: 0;
    max-height: 20px;
  }

  &.--footer{
    border-bottom: 2px solid  #0F303F;
    width: 250px;
    margin-right: 20px;

    &.is-invalid {
      border-bottom: none;
    }


    input{
      text-align: center;
      font-size: 16px;
      line-height: 22px;
  }
}
}

.custom-input,
.custom-textarea {
  position: relative;
  display: flex;

  ::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color:  #DDDDDD;
    }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-transparent;

    input,
    textarea {
      flex-grow: 1;
      min-height: 40px;
      background-color: inherit;
      border: none;
      outline: none;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 170%;
      color: $color-blue-whale;
      background-color: $color-transparent;

      transition: border $trans-default;
      box-shadow: inset 0 0 0 1000px  transparent;

      &:autofill,
      &:-internal-autofill-selected {
        background-color: $color-transparent !important;
      }
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -25px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border-bottom: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border-bottom: 2px solid rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}

