.custom-textarea{
  border: 1px solid #DBDBDB;
  margin: 15px 0px;
  padding: 10px;
  textarea{
  height: 100px;
  }
}

.custom-input{
  margin-bottom: 15px;
  border-bottom: 1px solid  #DDDDDD;
}

.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  min-width: 250px;

  ::placeholder{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color:  #DDDDDD;
    }

  label {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-transparent;

    input,
    textarea {
      flex-grow: 1;
      min-height: 40px;
      background-color: inherit;
      border: none;
      outline: none;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 170%;
      color: $color-blue-whale;
      background-color: $color-transparent;

      // TODO исправить для разных блоков с разным фоном (автозаполн)
      box-shadow: inset 0 0 0 1000px  #f4f4f4;
      transition: border $trans-default;

      &:autofill,
      &:-internal-autofill-selected {
        background-color: $color-transparent !important;
        //box-shadow: none;

      }

      &:hover {
      }

      &:focus {
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: -5px;

    color: $color-torch-red;

    opacity: 0;

    transition: opacity $trans-default;
  }

  &.is-invalid {
    input {
      border: 2px solid $color-torch-red;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-torch-red, 0.5);
      }
    }

    .custom-input__error {
      opacity: 1;
    }
  }

  /*&.is-valid {
    input {
      border: 2px solid $color-malachite;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-malachite, 0.5);
      }
    }
  }*/
}



@media (max-width: 550px) {
  .custom-input{
    &--long{
      width: 100%;
      max-width: 400px;
    }
  }
}
