.fav-button{
  background-color: $color-default-white;
  border-radius: 50%;

  z-index: 2;
  position: absolute;
  bottom: 3%;
  right: 3%;

  label{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: $color-alto 1px solid ;

    display: flex;
    align-items: center;
    justify-content: center;
    svg{

    }
  }

  input + label {
    svg{
      fill: white;
      transition: fill $trans-default, transform $trans-default;
    }
  }

input:checked + label {
  svg{
    fill: red;
    stroke: black;
  }
  }
}
