.item-card{
  width: 100%;
  max-height: 600px;
  min-height: 100%;

}

.item-card__wrapper{
  width: 100%;
  height: 100%;

  &--mini{
    width: 100%;
    display: flex;
    max-width: 500px;
    padding: 26px;
    position: relative;
  }
}

.item-card__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $color-arapawa;
  margin-top: 29px;
}

.item-card__type{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: $color-arapawa;
  margin-bottom: 5px;
}

.item-card__price{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #0F303F;

  &--color-orange{
    color: #FD5454;
  }

}

.item-card__text-block{
  display: flex;
  flex-direction: column;
  text-align: center;

  &--mini{
    text-align: left;
  }

}

.item-card__old-price{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: line-through;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #CECECE;
  margin-right: 4px;
}


.item-card__img{
  width: 100%;
  height: 365px;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform $trans-default;

    @include hover-focus{
      transform: scale(1.1);
    }
  }

  &--mini{
    height: 170px;
    width: 200px;
    margin-right: 40px;
  }
}

.discount-icon__block{
  z-index: 1;
  position: absolute;
  top: 3%;
  right: 3%;
}

.item-card__btn{
  margin-top: 16px;
}

.item-card__close-icon{
  position: absolute;
  right: 7%;
  top: 14%;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .item-card__wrapper{
    &--mini{
      margin: 0 auto;
    }
  }
}

@media (max-width: 500px) {
  .item-card__wrapper{
    &--mini{
      display: block;
    }
  }

  .item-card__img{

    &--mini{
      height: 270px;
      width: 250px;
      margin-right: 0px;
    }
  }

  .item-card__close-icon{
    right: 11%;
    top: 7%;
    z-index: 20;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    svg{
      height: 20px;
      width: 20px;
    }
  }

}

@media (max-width: 400px) {
  .item-card__price{
    display: block;
  }
}
