.title{

  text-transform: uppercase;

  &--style-inter{

    font-family: 'Inter';
    font-style: normal;

  }

  &--style-cormoran{

    font-family: 'Cormorant Garamond';
    font-style: normal;

  }

  &--color-white{
    color: #F4F4F4;
  }

  &--color-blue-whale{
    color: $color-blue-whale;
  }

  &--h1{
    font-weight: 500;
    font-size: 90px;
    line-height: 100%;
  }

  &--h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
  }

  &--h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    }

  }


