mixin modal-payment()
  div
    h3 Payment
    p Payment in cash upon receipt
    p Payment is made in cash to the courier directly on delivery of the order to the address of the recipient. Choosing this payment method, you get the opportunity to try on the ordered items.
    p If any item does not fit, you can simply return it to the courier without paying.
  div
    h3 With card on site (Visa, Mastercard).
    p We accept payment by Visa and Mastercard at our webstore. Security of payments with us is guaranteed by eCommerceConnect system using modern "3-D Secure" standard.
  div
    h3 Delivery
    p To the branch "Nova Postta".
    p Delivery of orders to customers online store ALLEGRIA is carried out on the territory of Ukraine by courier service "Nova Posta".
