mixin modal-payment()
  div
    h3 Оплата
    p Наличными при получении
    p Оплата осуществляется наличными денежными средствами курьеру непосредственно при доставке заказа на адрес получателя. Выбрав данный способ оплаты, Вы получаете возможность рассмотрь и примерить заказанный товар.
    p Если какая-то позиция Вам не подошла, Вы можете просто вернуть ее курьеру, не оплачивая.
  div
    h3 Картой на сайте (Visa, Mastercard)
    p На сайте нашего интернет-магазина мы принимаем оплату платежными картами Visa и Mastercard. Безопасность проведения платежей у нас гарантирована системой eCommerceConnect с использованием современного стандарта «3-D Secure».
  div
    h3 Доставка
    p На отделение «Нова Пошта»
    p Доставка заказов клиентам интернет-магазина ALLEGRIA осуществляется по территории всей Украины курьерской службой "Нова пошта".

