mixin modal-return()
  div
    h3 Returns and exchanges
    p Return of goods purchased at ALLEGRIA online store is made in accordance with the Law of Ukraine "On Protection of Consumer Rights".
    p You can return the merchandise within 14 days of purchase.
  div
    h3 How to apply for a refund?
    p If you don't like something you bought or it didn't fit - contact our Contact Center by phone 000 00 000 and we will help you to fill out a return form.
  div
    h3 What are the return policy?
    p The exchange and return of goods is carried out if the specified goods were not used, its commodity form - without damage and traces of wear, original packing, and also tags, seals, labels, trademarks are completely preserved.
    p Swimwear, underwear, hosiery, personal care products, and gloves are not returned and cannot be exchanged.
    p You can return the goods directly to our retail stores located in Kiev, Kharkov, Dnepr and Odessa. For residents of other cities of Ukraine sending the goods by carrier New Mail or any other carrier to the warehouse of online store ALLEGRIA, located in Kharkov is carried out at the expense of the company.

