mixin modal-payment()
  .modal__content-block
    h3.modal__title ОПЛАТА
    p.modal__description Наличными при получении
    p.modal__description Оплата осуществляется наличными денежными средствами курьеру непосредственно при доставке заказа на адрес получателя. Выбрав данный способ оплаты, Вы получаете возможность рассмотрь и примерить заказанный товар.
    p.modal__description Если какая-то позиция Вам не подошла, Вы можете просто вернуть ее курьеру, не оплачивая.
  .modal__content-block
    h3.modal__title Картой на сайте (Visa, Mastercard)
    p.modal__description На сайте нашего интернет-магазина мы принимаем оплату платежными картами Visa и Mastercard. Безопасность проведения платежей у нас гарантирована системой eCommerceConnect с использованием современного стандарта «3-D Secure».
  .modal__content-block
    h3.modal__title ДОСТАВКА
    p.modal__description На отделение «Нова Пошта»
    p.modal__description Доставка заказов клиентам интернет-магазина ALLEGRIA осуществляется по территории всей Украины курьерской службой "Нова пошта".

