mixin modal-size-chart()
  table
    tr
      td(colspan='4') KNIT TOPS
    tr
      td SIZE
      td CHEST
      td WAIST
      td NECK
    tr
      td S
      td 37-39
      td 39-41
      td 41-43
    tr
      td M
      td 37-39
      td 39-41
      td 41-43
    tr
      td L
      td 37-39
      td 39-41
      td 41-43
    tr
      td XL
      td 37-39
      td 39-41
      td 41-43
    tr
      td XXL
      td 37-39
      td 39-41
      td 41-43
    tr
      td(colspan='4')
    tr
      td(colspan='4') WOMEN SHIRTS
    tr
      td SIZE
      td CHEST
      td WAIST
      td NECK
    tr
      td S
      td 37-39
      td 39-41
      td 41-43
    tr
      td M
      td 37-39
      td 39-41
      td 41-43
    tr
      td L
      td 37-39
      td 39-41
      td 41-43
    tr
      td XL
      td 37-39
      td 39-41
      td 41-43
    tr
      td XXL
      td 37-39
      td 39-41
      td 41-43
    tr
      td(colspan='4')
    tr
      td(colspan='4') SHORTS
    tr
      td SIZE
      td WAIST
      td HIP
      td INSEAM
    tr
      td 30
      td 37-39
      td 39-41
      td 41-43
    tr
      td 31
      td 37-39
      td 39-41
      td 41-43
    tr
      td 32
      td 37-39
      td 39-41
      td 41-43
    tr
      td 33
      td 37-39
      td 39-41
      td 41-43
    tr
      td 34
      td 37-39
      td 39-41
      td 41-43
    tr
      td 35
      td 37-39
      td 39-41
      td 41-43
