mixin modal-return()
  .modal__content-block.modal__content-block--return
    h3.modal__title ВОЗВРАТ И ОБМЕН
    p.modal__description Возврат товаров, приобретенных в интернет-магазине ALLEGRIA, происходит согласно Закону Украины «О защите прав потребителей».
    p.modal__description Вы можете вернуть товар на протяжении 14 дней со дня покупки.
  .modal__content-block.modal__content-block--return
    h3.modal__title Как оформить заявку на возврат?
    p.modal__description Если купленная вещь Вам не понравилась или не подошла — свяжитесь с нашим контакт центром по телефону 000 00 000 и мы поможем оформить заявку на возврат.
  .modal__content-block.modal__content-block--return
    h3.modal__title Какие есть условия по возврату товара?
    p.modal__description Обмен и возврат товара производится в том случае, если указанный товар не был в употреблении, полностью сохранен его товарный вид — без повреждений и следов ношения, оригинальная упаковка, а также бирки, пломбы, ярлыки, фирменные знаки.
    p.modal__description Не возвращаются и не подлежат обмену купальники, нижнее белье, чулочно-носочные изделия, предметы личной гигиены, перчатки.
    p.modal__description Вы можете осуществить возврат товар непосредственно в наших розничных магазинах, расположенных в Киеве, Харькове, Днепре и Одессе. Для жителей других городов Украины пересылка товара перевозчиком Новой Почтой или любым другим, на склад интернет магазина ALLEGRIA, расположенного в городе Харькове, осуществляется за счет компании.
