//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-payment
include ./modals/modal-return

//- Blocks

include ./blocks/main-slider
include ./blocks/header-menu
include ./blocks/main-page-content-block
include ./blocks/main-page-text-block
include ./blocks/clothes-slider
include ./blocks/item-card
include ./blocks/main-page-second-content-block
include ./blocks/title-block
include ./blocks/text-block


//- Mixins

include ./mixins/base-radio
include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
