//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-payment
include ./modals/modal-return
include ./modals/modal-size-chart


//- Sliders

include ./sliders/main-slider
include ./sliders/clothes-slider

//- Blocks

include ./blocks/header-menu
include ./blocks/title-block
include ./blocks/text-block
include ./blocks/content-block


//- Mixins

include ./mixins/base-radio
include ./mixins/btn
include ./mixins/title
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/item-card
include ./mixins/color-button
include ./mixins/fav-button
include ./mixins/counter
include ./mixins/empty-page
