mixin main-slider(data)
  .main-slider.swiper.animate__animated.wow.animate__fadeIn( data-wow-duration='1.5s')
    .main-slider__wrapper.swiper-wrapper
      each item in data
        .swiper-slide
          if(item.side)
            .main-slider__slide-wrapper
              .main-slider__slide-text-block
                p.main-slider__brand Brand
                +title({titleStyle: 'Cormoran', titleType: 'h2', titleText: item.title, titleColor: 'blue-whale'})
                .main-slider__collection
                  a(href="catalog.html") View the collection
              if(item.img)
                +picture("content", item.img, "png", 941, 584, "banner").main-slider__slide-img
          else
            +title-block(item, true)
    .swiper-pagination.swiper-pagination--main

